#Configuracoes do container
R_PORT=82
STATIC_WEB_PORT=81
#diretorios
ROOT_FOLDER=
STATIC_FOLDER=
MEDIA_FOLDER=
DB_DATA_FOLDER=

#Configuracoes banco
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

DEBUG=False
SECRET_KEY=''
DATABASE_URL=''
ALLOWED_HOSTS=
MENDELEY_ID=7023
MENDELEY_SECRET=
MENDELEY_REDIRECT_URI=
DROPBOX_REDIRECT_URI=
DROPBOX_APP_KEY=
DROPBOX_SECRET=
ELSEVIER_API_KEY=
EMAIL_HOST=''
EMAIL_PORT=
EMAIL_HOST_USER=''
EMAIL_HOST_PASSWORD=''
EMAIL_USE_TLS=True
SESSION_COOKIE_DOMAIN='localhost'
HTTPS_SUPPORT=False

