DEBUG=True
SECRET_KEY='yoursecretkey'
DATABASE_URL=''
ALLOWED_HOSTS=['localhost', '127.0.0.1']
MENDELEY_ID=
MENDELEY_SECRET=
MENDELEY_REDIRECT_URI=
DROPBOX_REDIRECT_URI=
DROPBOX_APP_KEY=
DROPBOX_SECRET=
ELSEVIER_API_KEY=
EMAIL_HOST='smtp.gmail.com'
EMAIL_PORT=587
EMAIL_HOST_USER='user@gmail.com'
EMAIL_HOST_PASSWORD=''
EMAIL_USE_TLS=True
SESSION_COOKIE_DOMAIN='localhost'
HTTPS_SUPPORT=False

