#Configuracoes do container
R_PORT=82
STATIC_WEB_PORT=84
ROOT_FOLDER=/docker-volumes/sumarize
STATIC_FOLDER=/docker-volumes/sumarize/web/static
MEDIA_FOLDER=/docker-volumes/sumarize/web/media
DB_DATA_FOLDER=/docker-volumes/sumarize/db-data

#Configuracoes banco
POSTGRES_DB=parsifal
POSTGRES_USER=parsifal
POSTGRES_PASSWORD=parsifal_senha

DEBUG=False
SECRET_KEY=''
POSTGRES_PASSWORD_ENCODED=parsifal_senha

DATABASE_URL='postgres://parsifal:parsifal_senha@db:5432/parsifal'
ALLOWED_HOSTS=*
MENDELEY_ID=
MENDELEY_SECRET=
MENDELEY_REDIRECT_URI=https://sumarize.nees.com.br
DROPBOX_REDIRECT_URI=https://sumarize.nees.com.br
DROPBOX_APP_KEY=
DROPBOX_SECRET=
ELSEVIER_API_KEY=
EMAIL_HOST='smtp.gmail.com'
EMAIL_PORT=587
EMAIL_HOST_USER=''
EMAIL_HOST_PASSWORD=''
EMAIL_USE_TLS=True
SESSION_COOKIE_DOMAIN='localhost'
HTTPS_SUPPORT=False
FOREST_PLOT_URL=http://r:8000/forestplot
URL_DEFAULT=''
FILENAME_PATH=app-logs.txt
