{% extends 'base.html' %}
{% load i18n humanize is_visitor %}

{% load staticfiles %}

{% block title %} {% trans 'Planning' %} · {{ review.title }}{% endblock %}

{% block content %}

  {% include 'reviews/review_header.html' with active_menu='comments' %}

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            {% trans 'Discussions about comment ' %} <strong>#{{comment.id}}</strong> {% trans 'in' %} <span class="badge">{{comment.get_about_display}}</span>
            <span id="is-open" class="pull-right">
                {% include 'comments/partial_is_closed.html' with comment=comment %}
            </span>
          </h3>
        </div>
        <div class="panel-body">
          <div class="panel panel-default">
            <div class="panel-heading">
                <img src="{{comment.user.profile.get_picture}}" class="img-rounded" width="20px" style="margin-right: 5px;"> <strong>{{comment.user.profile.get_screen_name}}</strong> {% trans 'commented on' %} {{comment.date}}
                <!-- <span class="pull-right">
                  <span class="badge">{{comment.profile</span>
                </span> -->
            </div>
            <div class="panel-body">
              {{comment.comment}}
            </div>
          </div>

          <div id="answers">
              {% for answer in comment.get_children_comments %}
                {% include 'comments/partial_children_comment.html' with answer=answer %}
              {% endfor %}
          </div>

          {% if comment.is_open == True %}
            <div class="row">
              <div id="new-comment" class="col-sm-12" style="margin-top: 30px;">
                <h4>{% trans 'Add a new comment' %}</h4>
                <form id="form-add-new-comment">
                  {% csrf_token %}
                  <input type="hidden" name="review-id" value="{{review.id}}">
                  <input type="hidden" name="about" value="{{comment.about}}">
                  <input type="hidden" name="parent" value="{{comment.id}}">
                  <input type="hidden" name="to" value="0">
                  <div class="form-group">
                    <textarea class="form-control" name="comment" rows="7"></textarea>
                  </div>
                  <button type="button" class="btn btn-success" id="save-new-comment">
                    <span class="glyphicon glyphicon-ok"></span> {% trans 'Save' %}
                  </button>
                </form>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <form id="form-close-comments">
    {% csrf_token %}
    <input type="hidden" name="comment_id" value="{{comment.id}}" />
  </form>

{% endblock %}
