{% extends 'base.html' %}
{% load i18n humanize is_visitor %}

{% load staticfiles %}

{% block title %} {% trans 'Planning'  %} · {{ review.title }}{% endblock %}

{% block javascript %}
  <script src="{% static 'js/planning_data_extraction.js' %}?_=2"></script>
  {% if user|is_visitor:review %}
    <script src="{% static 'js/user_is_visitor.js' %}?v=1"></script>
  {% endif %}
{% endblock javascript %}

{% block content %}

  {% include 'reviews/review_header.html' with active_menu='planning' %}
  {% include 'planning/planning_header.html' with active_tab='extraction' %}

  {% csrf_token %}

  <section id="data-extraction-section" style="margin-bottom: 20px;">
	<div class="modal fade" id="data-extraction-help">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">
            	{% trans 'About Data Extraction Form' %}
            </h4>
          </div>
          <div class="modal-body">
          	<p>{% trans 'Defines the set of questions to be used to extract information of each study.'%}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
      	<h3 class="panel-title">
        	{% trans 'Data Extraction Form' %}
        	<a href="javascript:void(0);" class="pull-right" data-toggle="tooltip" title="{% trans 'What is this? Click to get help.' %}" data-placement="top" data-container="body">
            	<span class="glyphicon glyphicon-question-sign" data-toggle="modal" data-target="#data-extraction-help"></span>
            </a>
            {% include 'comments/comment_icon_button.html' with user=user about="DATA_EXTRACTION_FORM" %}
        </h3>
       
     	<div style="margin-top: 15px;">
	      	<button type="button" class="btn btn-success" id="btn-add-field">
	          <span class="glyphicon glyphicon-plus"></span>
	          {% trans 'Add Field' %}
	        </button>
	        <button type="button" class="btn btn-success" id="btn-import-dataextraction" data-toggle="modal" data-target="#modal-suggested-dataextraction">
	          <span class="glyphicon glyphicon-import"></span>
	          {% trans 'Import Fields' %}
	        </button>
	        <button type="button" class="btn btn-success" id="btn-share-dataextraction" data-toggle="modal" data-target="#modal-share-dataextraction">
	          <span class="glyphicon glyphicon-export"></span>
	          {% trans 'Share your Fields' %}
	        </button>
        </div>
        
      </div>
      <table class="table" id="tbl-data-extraction">
        <thead>
          <tr>
            <th></th>
            <th>{% trans 'Description' %}</th>
            <th>{% trans 'Type' %}</th>
            <th>{% trans 'Values' %}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for field in review.get_data_extraction_fields %}
            {% include "planning/partial_data_extraction_field.html" with field=field %}
          {% empty %}
            {% include "planning/partial_data_extraction_field_form.html" with field=empty_field %}
          {% endfor %}
        </tbody>
      </table>
      <div class="panel-footer">
        <button type="button" class="btn btn-success" id="btn-add-field">
          <span class="glyphicon glyphicon-plus"></span>
          {% trans 'Add Field' %}
        </button>
        <button type="button" class="btn btn-success" id="btn-import-dataextraction" data-toggle="modal" data-target="#modal-suggested-dataextraction">
          <span class="glyphicon glyphicon-import"></span>
          {% trans 'Import Fields' %}
        </button>
        <button type="button" class="btn btn-success" id="btn-share-dataextraction" data-toggle="modal" data-target="#modal-share-dataextraction">
          <span class="glyphicon glyphicon-export"></span>
          {% trans 'Share your Fields' %}
        </button>
      </div>
    </div>

    <div class="modal fade" id="modal-suggested-dataextraction">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{% trans 'Import Data Extraction Fields' %}</h4>
          </div>
          <div class="modal-body">
            <p style="margin-bottom: 20px;">{% trans 'Below you see the reviews that exported your data extraction fields, choose one to import the fields for your review' %}</p>
            <table class="table" id="tbl-import-data-extraction">
              <thead>
                <tr>
                  <th>{% trans 'ID' %}</th>
                  <th>{% trans 'Review' %}</th>
                  <th>{% trans 'Author' %}</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modal-share-dataextraction">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{% trans 'Export Data Extraction Fields' %}</h4>
          </div>
          <div class="modal-body">
            <div class="alert alert-error hide" role="alert">
              <strong><span class="glyphicon glyphicon-info-sign"></span></strong> {% trans 'Showing the available sources from you Protocol, defined in the ' %}<a href="{% url 'planning' review.author.username review.name %}#sources-section">{% trans 'planning tab' %}</a>.
            </div>
            {% if review.export_dataextraction %}
              <p>{% trans 'Your Data Extraction Fields are already shared. Do you wanna make it private again?' %}</p>
            {% elif not review.export_dataextraction %}
              <p>{% trans 'If you agree, your Data Extraction Fields will be made known to other researchers to use them' %}</p>
            {% endif %}
          </div>
          <div class="modal-footer" style="text-align: left;">
            <form id="share-dataextration-form">
              {% csrf_token %}
              <button type="button" id="btn-confirm-dataextraction-share" class="btn btn-success btn-block" data-keyword-id="">
                  {% if review.export_dataextraction %}
                    {% trans 'Hide Data Extraction Fields' %}
                  {% elif not review.export_dataextraction %}
                    {% trans 'Export Data Extraction Fields' %}
                  {% endif %}
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}
