{% load i18n %}

{% load humanize %}

<tr oid="{{ quality_question.id }}">
  <td style="width: 10px; text-align: center; vertical-align: middle;">
    <!--  
    <input type="hidden" name="quality-question-order" value="{{ question.order }}">
    <a href="javascript:void(0);" style="display: block;" class="js-order-quality-question-up">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <a href="javascript:void(0);" style="display: block;" class="js-order-quality-question-down">
      <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
    -->
  </td>
  <td style="vertical-align: middle;">
    <h4>{{ quality_question.description }}</h4>
  </td>
  <td style="width: 300px; text-align: right; vertical-align: middle;">
    <button type="button" class="btn btn-sm btn-warning btn-edit-quality-question">
      <span class="btn-ajax-normal">
        <span class="glyphicon glyphicon-pencil"></span> {% trans 'edit' %}
      </span>
      <span class="btn-ajax-loading">
        <span class="glyphicon glyphicon-refresh spin"></span> {% trans 'loading…' %}
      </span>
    </button>
    <button type="button" class="btn btn-sm btn-danger btn-remove-quality-question">
      <span class="btn-ajax-normal">
        <span class="glyphicon glyphicon-trash"></span> {% trans 'remove' %}
      </span>
      <span class="btn-ajax-loading">
        <span class="glyphicon glyphicon-refresh spin"></span> {% trans 'removing…' %}
      </span>
    </button>
    <button type="button" class="btn btn-primary btn-sm btn-add-quality-answer" data-question-id="{{quality_question.id}}">
      <span class="glyphicon glyphicon-plus"></span>
      {% trans 'Answers' %}
    </button>
  </td>
</tr>
<tr oid="answers-question-{{ quality_question.id }}" data-question-id={{quality_question.id}}>
	<td>
		<span class="small">
		</span>
	</td>
	<td style="text-align: center; vertical-align: middle;padding: 4px;" colspan="2">
		<ul id="question-{{quality_question.id}}-list-quality-answers" class="list-group text-left list-quality-answers" style="margin-bottom: 0px;list-style-type:none;">
			  {% for quality_answer in quality_question.get_answers %}
                {% include "planning/partial_quality_assessment_answer2.html" with quality_answer=quality_answer quality_question=quality_question %} 
              {% endfor %}
              {% include "planning/partial_quality_assessment_answer_form2.html" with quality_question=quality_question %}
		</ul>
	</td>
</tr>
<tr>
	<td>
	</td>
	<td colspan="2">
		{% if quality_question.get_answers %}
		<button type="button" class="btn btn-default btn-sm btn-add-quality-answer" data-question-id="{{quality_question.id}}">
          <span class="glyphicon glyphicon-plus"></span>
          {% trans 'Add Answer' %}
        </button>
        {% else %}
	        <button type="button" class="btn btn-default btn-sm add-suggested-answers" id="question-{{quality_question.id}}-add-suggested-answers" data-question-id="{{quality_question.id}}">
	        {% trans '(Add Suggested Answers)' %}
	        </button>
	    {% endif %}
    </td>
</tr>
