{% extends 'base.html' %}
{% load i18n humanize is_visitor %}

{% load staticfiles %}

{% block title %} {% trans 'Planning' %} · {{ review.title }}{% endblock %}

{% block stylesheet %}
  <style>
    body,html,.wrapper{height:auto;}
    section {padding-top:20px;}
    #planning-tab,section>.panel,section form>.panel{margin-bottom:0;}
  </style>
{% endblock stylesheet %}

{% block javascript %}
  <script src="{% static 'js/planning.js' %}?v=1"></script>
  <script src="{% static 'js/planning_question.js' %}?v=1"></script>
  <script src="{% static 'js/planning_picoc.js' %}"></script>
  <script src="{% static 'js/planning_keyword.js' %}?v=2"></script>
  <script src="{% static 'js/planning_source.js' %}?v=2"></script>
  <script src="{% static 'js/planning_search_string.js' %}?v=1"></script>
  <script src="{% static 'js/planning_criteria.js' %}?v=1"></script>
  {% if user|is_visitor:review %}
    <script src="{% static 'js/user_is_visitor.js' %}?v=1"></script>
  {% endif %}
  <script>
    $(function () {
      $("#protocol").affix({
        offset: {
          top: $("#protocol").offset().top - 20,
          bottom: 70
        }
      });
    });
  </script>
{% endblock javascript %}

{% block content %}

  {% include 'reviews/review_header.html' with active_menu='planning' %}
  {% include 'planning/planning_header.html' with active_tab='protocol' %}
  
  <div class="row">
    <div class="hidden-sm col-md-4 col-lg-3" style="padding-top: 20px;">
      <div id="protocol" class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans 'Protocol' %}</h3>
        </div>
        <nav id="link-list">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#objective-section" class="list-group-item">{% trans 'Objectives' %}</a></li>
          <li><a href="#picoc-section" class="list-group-item">{% trans 'Search Methodology' %}</a></li>
          <li><a href="#question-section" class="list-group-item">{% trans 'Research Questions' %}</a></li>
          <li><a href="#keywords-section" class="list-group-item">{% trans 'Keywords and Synonyms' %}</a></li>
          <li><a href="#search-string-section" class="list-group-item">{% trans 'Search String' %}</a></li>
          <li><a href="#sources-section" class="list-group-item">{% trans 'Sources' %}</a></li>
          <li><a href="#selection-section" class="list-group-item">{% trans 'Selection Criteria' %}</a></li>
          <li><a href="#selection-reviewer-section" class="list-group-item">{% trans 'Selection Reviewer' %}</a></li>
        </ul>
        </nav>
      </div>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-9">

      <section id="objective-section">

        <div class="modal fade" id="objective-help">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{% trans 'About the Objectives' %}</h4>
              </div>
              <div class="modal-body">
                <p>{% trans "<strong>Identification of the need for a review.</strong> The need for a systematic review originates from a researcher aiming to understand the state-of-the-art in an area, or from practitioners wanting to use empirical evidence in their strategic decision-making or improvement activities. If there are more or less systematic literature reviews available in the field, they should be appraised regarding scope and quality, to evaluate if they are sufficient to meet the current needs for a review. A systematic literature review may be viewed as a research method for making a literature review." %}</p>
              </div>
              <div class="modal-footer" style="text-align: left;">
                <p><small class="text-muted">C. Wohlin, P. Runeson, M. Höst, M. C. Ohlsson, B. Regnell and A. Wesslén, <a href="http://www.springer.com/us/book/9783642290435" target="_blank">"Experimentation in Software Engineering"</a>, Springer, ISBN 978-3-642-29043-5, 2012.</small></p>
              </div>
            </div>
          </div>
        </div>

        <form method="post" id="form-objective">
          {% csrf_token %}
          <input type="hidden" name="review-id" value="{{ review.id }}">
          <div class="panel panel-default">
            <div class="panel-heading has-help">
              <h3 class="panel-title">
                {% trans 'Objectives' %}
                <a href="javascript:void(0);" class="pull-right" data-toggle="tooltip" title="{% trans 'What is this? Click to get help.' %}" data-placement="top" data-container="body">
                  <span class="glyphicon glyphicon-question-sign big-glyphicon" data-toggle="modal" data-target="#objective-help"></span>
                </a>
                {% include 'comments/comment_icon_button.html' with user=user about="OBJECTIVES" %}
              </h3>
              <small class="text-muted pull-left help-info">
              	{% trans "Identification of the need and objectives for a review." %}
              </small>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <textarea rows="4" name="objective" class="form-control expanding">{{ review.objective }}</textarea>
              </div>
            </div>
            <div class="panel-footer">
              <button type="button" class="btn btn-success btn-save-objective">
                <span class="btn-ajax-normal">
                  <span class="glyphicon glyphicon-ok"></span> {% trans 'Save' %}
                </span>
                <span class="btn-ajax-loading">
                  <span class="glyphicon glyphicon-refresh spin"></span> {% trans 'Saving…' %}
                </span>
                <span class="btn-ajax-error">
                  <span class="glyphicon glyphicon-remove"></span> {% trans 'Error!' %}
                </span>
                <span class="btn-ajax-complete">
                  <span class="glyphicon glyphicon-ok"></span> {% trans 'Saved!' %}
                </span>
              </button>
            </div>
          </div>
        </form>
      </section>

      <section id="picoc-section">

        <div class="modal fade" id="review-framework-help">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{% trans 'About Search Methodolgy' %}</h4>
              </div>
              <div class="modal-body">
              	
              	<ul class="nav nav-tabs">
			    	<li class="active"><a data-toggle="tab" href="#what-help">{% trans 'What is?'%}</a></li>
			    	<li><a data-toggle="tab" href="#picoc-help">{% trans 'PICOC' %}</a></li>
			    	<li><a data-toggle="tab" href="#picos-help">{% trans 'PICOS' %}</a></li>
			    	<li><a data-toggle="tab" href="#free-text-help">{% trans 'Free Text' %}</a></li>
			  	</ul>
			
			  	<div class="tab-content">
			    	<div id="what-help" class="tab-pane fade in active">
			      		<h3>{% trans 'Search Methodolgy'%}</h3>
			      		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			    	</div>
			    	<div id="picoc-help" class="tab-pane fade">
			      		<h3>{% trans 'PICOC' %}</h3>
			      		<p>{% trans 'PICOC stands for <em>population</em>, <em>intervention</em>, <em>comparison</em>, <em>outcomes</em> and <em>context</em>.' %}</p>
		                <ul>
		                  <li>{% trans 'The <em>population</em> in which the evidence is collected, i.e. which group of people, programs or businesses are of interest for the review?' %}</li>
		                  <li>{% trans 'The <em>intervention</em> applied in the empirical study, i.e. which technology, tool or procedure is under study?' %}</li>
		                  <li>{% trans 'The <em>comparison</em> to which the intervention is compared, i.e. how is the control treatment defined? In particular the ‘placebo’ intervention is critical, as “not using the intervention” is mostly not a valid action in software engineering.' %}</li>
		                  <li>{% trans 'The <em>outcomes</em> of the experiment should not only be statistically significant, but also be significant from a practical point of view. For example, it is probably not interesting that an outcome is 10% better in some respect if it is twice as time consuming.' %}</li>
		                  <li>{% trans 'The <em>context</em> of the study must be defined, which is an extended view of the population, including whether it is conducted in academia or industry, in which industry segment, and also the incentives for the subjects.' %}</li>
		                </ul>
			    	</div>
			    	<div id="picos-help" class="tab-pane fade">
			      		<h3>{% trans 'PICOS' %}</h3>
			      		<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
			    	</div>
			    	<div id="free-text-help" class="tab-pane fade">
			      		<h3>{% trans 'Free Text' %}</h3>
			     		<p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
			    	</div>
			 	</div>
              </div>
              <div class="modal-footer" style="text-align: left;">
                <p><small class="text-muted">C. Wohlin, P. Runeson, M. Höst, M. C. Ohlsson, B. Regnell and A. Wesslén, <a href="http://www.springer.com/us/book/9783642290435" target="_blank">"Experimentation in Software Engineering"</a>, Springer, ISBN 978-3-642-29043-5, 2012.</small></p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="modal fade" id="picoc-config">
          <div class="modal-dialog">
          	<form id="set-pico-form" method="post" action="{% url 'reviews:planning:setting_pico' %}">
          		{% csrf_token %}
          		<input type="hidden" name="pico_type" id="pico_type" value="{{ review.pico_type }}">
          		<input type="hidden" name="review-id" id="review-id" value="{{ review.id }}">
	            <div class="modal-content">
	           		<div class="modal-header">
	           			<p><small class="text-muted">{% trans 'Choose an alternative to apply to your search.' %}</small></p>
	           		</div>
	           		<div class="modal-body">
		                <div class="list-group">
							<a href="#" class="list-group-item {% if review.pico_type == 'PICOC' %} active {% endif %}" data-pico-value="PICOC">
						    	{% trans 'PICOC stands for <em>Population</em>, <em>Intervention</em>, <em>Comparison</em>, <em>Outcomes</em> and <strong><em>Context</em></strong>.' %}
						 	</a>
						  	<a href="#" class="list-group-item  {% if review.pico_type == 'PICOS' %} active {% endif %}" data-pico-value="PICOS">
						  		{% trans 'PICOS stands for <em>Population</em>, <em>Intervention</em>, <em>Comparison</em>, <em>Outcomes</em> and <strong><em>Study type</em></strong>.' %}
						  	</a>
						  	<a href="#" class="list-group-item {% if review.pico_type == 'Free Text' %} active {% endif %}" data-pico-value="Free Text">
						  		{% trans 'Free Text Field' %}
						  	</a>
						</div>
	              	</div>
		            <div class="modal-footer" style="text-align: left;">
		                
		              	<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
						</div>
		            </div>
	            </div><!-- end modal-content -->
            </form>
          </div>
        </div><!-- end picoc config -->

		<div class="modal fade" id="modal-pico-share">
	        <div class="modal-dialog">
	          <div class="modal-content">
	            <div class="modal-header">
	              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	              <h4 class="modal-title">{% trans 'Export Search Methodology' %}</h4>
	            </div>
	            <div class="modal-body">
	              {% if review.export_pico %}
	                <p>{% trans 'Your Search Methodology are already shared. Do you wanna make it private again?' %}</p>
	              {% elif not review.export_pico %}
	                <p>{% trans 'If you agree, your Search Methodology will be made known to other researchers to use them.' %}</p>
	              {% endif %}
	            </div>
	            <div class="modal-footer" style="text-align: left;">
	              <form id="form-pico-share">
	                {% csrf_token %}
	                <button type="button" id="btn-confirm-pico-share" class="btn btn-success btn-block" data-review-id="{{review.id}}">
	                	<span class="glyphicon glyphicon-share"></span>
	                    {% if review.export_pico %}
	                      {% trans 'Hide Search Methodology' %}
	                    {% elif not review.export_pico %}
	                      {% trans 'Export Search Methodology' %}
	                    {% endif %}
	                </button>
	              </form>
	            </div>
	          </div>
	        </div>
	    </div> <!-- end modal share -->
	    
	    <div class="modal fade" id="modal-suggested-pico">
	      <div class="modal-dialog">
	        <div class="modal-content">
	          <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	            <h4 class="modal-title">{% trans 'Import Methodology' %}</h4>
	          </div>
	          <div class="modal-body">
	          	 <p style="margin-bottom: 20px;">{% trans 'Below you see the reviews that exported your methodology, choose one to import for your review' %}</p>
	             {% csrf_token %}
	             <input type="hidden" name="review-id" value="{{ review.id }}">
	             <table class="table table-condensed table-modal" id="tbl-import-pico">
	               <thead>
	               	<tr>
	               		<th>{% trans 'ID' %}</th>
	               		<th>{% trans 'Review' %}</th>
	               		<th>{% trans 'Author' %}</th>
	               		<th></th>
	               		<th></th>
	               	</tr>
	             	</thead>
	               <tbody></tbody>
	             </table>
	          </div>
	        </div>
	      </div>
	    </div>  
	    
		


        <form method="post" id="picoc-form" class="form-horizontal">
          {% csrf_token %}
          <input type="hidden" name="review-id" value="{{ review.id }}">
		  <input type="hidden" name="pico_type" id="pico_type" value="{{ review.pico_type }}">
          <div class="panel panel-default">
            <div class="panel-heading has-help">
              <h3 class="panel-title">
                <span class="pico_type_title">{{ review.pico_type_label }}</span>
                <a href="javascript:void(0);" data-toggle="tooltip" title="{% trans 'Edit' %}" data-placement="top" data-container="body">
                  <span class="glyphicon glyphicon-cog" data-toggle="modal" data-target="#picoc-config"></span>
                </a>
                
                <a href="javascript:void(0);" class="pull-right" data-toggle="tooltip" title="{% trans 'What is this? Click to get help.' %}" data-placement="top" data-container="body">
                  <span class="glyphicon glyphicon-question-sign big-glyphicon" data-toggle="modal" data-target="#review-framework-help"></span>
                </a>
                
                <a href="javascript:void(0);" style="margin-right: 1%;" class="pull-right" data-toggle="tooltip" title="{% trans 'Share' %}" data-placement="top" data-container="body">
                  <span class="glyphicon glyphicon-share big-glyphicon" data-toggle="modal" data-target="#modal-pico-share"></span>
                </a>
                
                {% include 'comments/comment_icon_button.html' with user=user about="PICOC" %}
              </h3>
              <div class="small text-muted pull-left help-info">
              	<div class="picoc {% if review.pico_type != 'PICOC' %} hidden {% endif %}" id="picoc-subtitle">
              	        		
              		{% trans 'PICOC stands for <em>population</em>, <em>intervention</em>, <em>comparison</em>, <em>outcomes</em> and <em>context</em>.' %}
              	
              	</div>
              	<div class="picos {% if review.pico_type != 'PICOS' %} hidden {% endif %}" id="picos-subtitle">
              
              		{% trans 'PICOS stands for <em>population</em>, <em>intervention</em>, <em>comparison</em>, <em>outcomes</em> and <em>study type</em>.' %}
              
              	</div>
              	<div class="pico_free {% if review.pico_type != 'Free Text' %} hidden {% endif %}" id="pico_free-subtitle">
              		{% trans 'Write your search methodology for a systematic review of the literature used in this project.' %}
              	</div>
              </div>
            </div>
            <div class="panel-body">
              	  <div class="{% if review.pico_type != 'PICOC' %} hidden {% endif %}">
	              	<p class="picoc">{% trans 'Separate the terms used in the PICOC using commas. This will make possible to save them separately as keywords so we can help you design your search string.' %}</p>
		          	<p>{% trans "If any of the sections of PICOC does not apply to your research, please leave it blank." %}</p>
	             </div>
	              
	              <div class="picoc picos  {% if review.pico_type == 'Free Text' %} hidden {% endif %}" >
		              <div class="form-group">
		                <label class="control-label col-md-2" for="population">{% trans 'Population' %}</label>
		                <div class="col-md-10">
		                  <input type="text" class="form-control" id="population" name="population" maxlength="200" value="{{ review.population }}">
		                </div>
		              </div>
		              <div class="form-group">
		                <label class="control-label col-md-2" for="intervention">{% trans 'Intervention' %}</label>
		                <div class="col-md-10">
		                  <input type="text" class="form-control" id="intervention" name="intervention" maxlength="200" value="{{ review.intervention }}">
		                </div>
		              </div>
		              <div class="form-group">
		                <label class="control-label col-md-2" for="comparison">{% trans 'Comparison' %}</label>
		                <div class="col-md-10">
		                  <input type="text" class="form-control" id="comparison" name="comparison" maxlength="200" value="{{ review.comparison }}">
		                </div>
		              </div>
		              <div class="form-group">
		                <label class="control-label col-md-2" for="outcome">{% trans 'Outcome' %}</label>
		                <div class="col-md-10">
		                  <input type="text" class="form-control" id="outcome" name="outcome" maxlength="200" value="{{ review.outcome }}">
		                </div>
		              </div>
	              </div>
	         	
	         
	              <div class="form-group picoc {% if review.pico_type != 'PICOC' %} hidden {% endif %}">
	                <label class="control-label col-md-2" for="context">{% trans 'Context' %}</label>
	                <div class="col-md-10">
	                  <input type="text" class="form-control" id="context" name="context" maxlength="200" value="{{ review.context }}">
	                </div>
	              </div>
             
              
	              <div class="form-group picos {% if review.pico_type != 'PICOS' %} hidden {% endif %}">
	                <label class="control-label col-md-2" for="study_type">{% trans 'Study Type' %}</label>
	                <div class="col-md-10">
	                  <input type="text" class="form-control" id="study_type" name="study_type" maxlength="200" value="{{ review.study_type }}">
	                </div>
	              </div>
             
              
              	  <div class="pico_free {% if review.pico_type != 'Free Text' %} hidden {% endif %}">
		              <div class="form-group" style="margin-right: 0px;margin-left: 0px;">
		                <textarea rows="6" name="pico_text" class="form-control" >{{ review.pico_text }}</textarea>
		              </div>
	              </div>
             
            </div>
            <div class="panel-footer">
              <button type="button" class="btn btn-success btn-save-picoc" data-loading="Saving...">
                <span class="btn-ajax-normal">
                  <span class="glyphicon glyphicon-ok"></span> {% trans 'Save' %}
                </span>
                <span class="btn-ajax-loading">
                  <span class="glyphicon glyphicon-refresh spin"></span> {% trans 'Saving...' %}
                </span>
                <span class="btn-ajax-error">
                  <span class="glyphicon glyphicon-remove"></span> {% trans 'Error!' %}
                </span>
                <span class="btn-ajax-complete">
                  <span class="glyphicon glyphicon-ok"></span> {% trans 'Saved!' %}
                </span>
              </button>
              
              <button type="button" style="margin:5px" class="btn btn-success" id="btn-modal-import-pico" data-toggle="modal" data-target="#modal-suggested-pico">
                <span class="glyphicon glyphicon-import"></span>
                {% trans 'Import Methodology' %}
              </button>
              
              <span class="pull-right text-muted small" id="import-pico-msg">
              	{% if review.export_pico %} 
              		Compartilhado
              	{% endif%}
              </span>
            </div>
          </div>
        </form>
      </section>

      <section id="question-section">

        <div class="modal fade" id="question-help">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{% trans 'About the Research Questions' %}</h4>
              </div>
              <div class="modal-body">
                <p>{% trans 'The area of the systematic review and the specific research questions set the focus for the identification of the primary studies, the extraction of data from the studies and the analysis. Hence, the research questions must be well thought through and phrased. Aspects to take into account in phrasing the research questions include the PICOC or PICOS.' %}</p>
              </div>
              <div class="modal-footer" style="text-align: left;">
                <p><small class="text-muted">C. Wohlin, P. Runeson, M. Höst, M. C. Ohlsson, B. Regnell and A. Wesslén, <a href="http://www.springer.com/us/book/9783642290435" target="_blank">"Experimentation in Software Engineering"</a>, Springer, ISBN 978-3-642-29043-5, 2012.</small></p>
              </div>
            </div>
          </div>
        </div>
        <form method="post" id="question-form">
          {% csrf_token %}
          <div class="panel panel-default">
            <div class="panel-heading has-help">
              <h3 class="panel-title">
                {% trans 'Research Questions' %}
                <a href="javascript:void(0);" class="pull-right" data-toggle="tooltip" title="{% trans 'What is this? Click to get help.' %}" data-placement="top" data-container="body">
                  <span class="glyphicon glyphicon-question-sign big-glyphicon" data-toggle="modal" data-target="#question-help"></span>
                </a>
                {% include 'comments/comment_icon_button.html' with user=user about="QUESTIONS" %}
              </h3>
              <small class="text-muted pull-left help-info">
              	{% trans 'A research question is the question around which you center your research. It should be <i>clear</i>, <i>focused</i>, <i>concise</i> and <i>arguable</i>.' %}
              </small>
            </div>
            <table class="table">
              <tbody>
                {% for question in review.get_questions %}
                  {% include "planning/partial_planning_question.html" with question=question %}
                {% empty %}
                  {% include "planning/partial_planning_question_form.html" %}
                {% endfor %}
              </tbody>
            </table>
            <div class="panel-footer">
              <button type="button" class="btn btn-success" id="btn-add-question">
                <span class="glyphicon glyphicon-plus"></span> {% trans 'Add Question' %}
              </button>
            </div>
          </div>
        </form>
      </section>

      <section id="keywords-section">
        <div class="modal fade" id="keywords-help">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{% trans 'About the Keywords and Synonyms' %}</h4>
              </div>
              <div class="modal-body">
                <p>{% trans 'The keywords are basically extracted from the <em>population</em>, <em>intervention</em>, <em>comparison</em> and <em>outcomes</em>.' %}</p>
                <p>{% trans 'Every keyword must be related with one step of your Search Methodology (PICOC, PICOS or orther). Please note, the <em>context</em> is related with the <em>population</em>.' %}</p>
                <p>{% trans 'After determining all relevant keywords, you should relate them if all their synonyms to make your search string broader.' %}</p>
                <p><strong>{% trans 'Example:' %}</strong> <sup><a href="#kitchenham2007-keywords">[1]</a></sup></p>
                <table class="table table-bordered table-condensed">
                  <thead>
                    <tr>
                      <th style="width: 50%;">{% trans 'Keyword:' %}</th>
                      <th>{% trans 'Synonyms:' %}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td rowspan="6" style="vertical-align: middle;">software <small>({% trans 'Population' %})</small></td>
                      <td>{% trans 'application:' %}</td>
                    </tr>
                    <tr>
                      <td>{% trans 'product:' %}</td>
                    </tr>
                    <tr>
                      <td>Web</td>
                    </tr>
                    <tr>
                      <td>WWW</td>
                    </tr>
                    <tr>
                      <td>{% trans 'project:' %}</td>
                    </tr>
                    <tr>
                      <td>{% trans 'development:' %}</td>
                    </tr>
                    <tr style="background-color: #f9f9f9;">
                      <td rowspan="4" style="vertical-align: middle;">{% trans 'cross company' %} <small>({% trans 'Intervention' %})</small></td>
                      <td>{% trans 'cross organisation' %}</td>
                    </tr>
                    <tr style="background-color: #f9f9f9;">
                      <td>{% trans 'cross organization' %}</td>
                    </tr>
                    <tr style="background-color: #f9f9f9;">
                      <td>{% trans 'multiple-organizational' %}</td>
                    </tr>
                    <tr style="background-color: #f9f9f9;">
                      <td>{% trans 'multiple-organisational model' %}</td>
                    </tr>
                    <tr>
                      <td rowspan="4" style="vertical-align: middle;">{% trans 'within-organisation' %} <small>({% trans 'Comparison' %})</small></td>
                      <td>{% trans 'within-organization' %}</td>
                    </tr>
                    <tr>
                      <td>{% trans 'within-organizational' %}</td>
                    </tr>
                    <tr>
                      <td>{% trans 'within-organisational' %}</td>
                    </tr>
                    <tr>
                      <td>{% trans 'single company' %}</td>
                    </tr>
                    <tr style="background-color: #f9f9f9;">
                      <td rowspan="2" style="vertical-align: middle;">{% trans 'Accuracy' %} <small>({% trans 'Outcome' %})</small></td>
                      <td>{% trans 'Mean Magnitude' %}</td>
                    </tr>
                    <tr style="background-color: #f9f9f9;">
                      <td>{% trans 'Relative Error' %}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="modal-footer" style="text-align: left;">
                <p class="text-muted" id="kitchenham2007-keywords">
                  <small>1. Kitchenham B (2007) Guidelines for performing Systematic Literature Reviews in Software Engineering, Version 2.3, EBSE Technical Report EBSE-2007-01, Keele University and University of Durham</small>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading has-help">
            <h3 class="panel-title">
              {% trans 'Keywords and Synonyms' %}
              <a href="javascript:void(0);" class="pull-right" data-toggle="tooltip" title="{% trans 'What is this? Click to get help.' %}" data-placement="top" data-container="body">
                <span class="glyphicon glyphicon-question-sign big-glyphicon" data-toggle="modal" data-target="#keywords-help"></span>
              </a>
              {% include 'comments/comment_icon_button.html' with user=user about="KEYWORDS" %}
            </h3>
            <small class="text-muted pull-left help-info">
            	{%trans "The keywords are basically extracted from the PIPOC and be related with one of your step. After you should relate them if all their synonyms to make your search string broader." %}
            </small>
          </div>
          <div class="panel-body">
          	<table class="table" id="table-keywords">
	            <thead>
	              <tr>
	                <th>{% trans 'Keyword' %}</th>
	                <th>{% trans 'Synonyms' %}</th>
	                <th>{% trans 'Related to' %}</th>
	                <th></th>
	              </tr>
	            </thead>
	            <tbody>
	              {% for keyword in review.get_keywords %}
	                {% include 'planning/partial_keyword.html' with keyword=keyword %}
	              {% endfor %}
	            </tbody>
          	</table>
          </div>

          <div class="panel-footer">
            <button type="button" class="btn btn-success" id="add-keyword">
              <span class="glyphicon glyphicon-plus"></span>
              {% trans 'Add Keyword' %}
            </button>
            <button type="button" class="btn btn-success picoc picos {% if review.pico_type == 'Free Text' %} hidden {% endif %}" id="import-pico-keywords">
              <span class="glyphicon glyphicon-import"></span>
              {% trans 'Import Keywords from' %} <span class="pico_type_title">({{review.pico_type}})</span>
            </button>
          </div>
        </div>

        <form id="add-keyword-form" method="post" action="{% url 'reviews:planning:add_keyword' %}">
          <div class="modal fade" id="add-keyword-modal">
            <div class="modal-dialog"></div>
          </div>
        </form>

        <form id="edit-keyword-form" method="post" action="{% url 'reviews:planning:edit_keyword' %}">
          <div class="modal fade" id="edit-keyword-modal">
            <div class="modal-dialog"></div>
          </div>
        </form>

        <div class="modal fade" id="modal-confirm-keyword-deletion">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{% trans 'Are you sure?' %}</h4>
              </div>
              <div class="modal-body">
                <p>{% trans 'This action <strong>cannot</strong> be undone. This will remove the <strong id="delete-keyword-name"></strong> keyword, and all related synonyms.' %}</p>
              </div>
              <div class="modal-footer">
                <button type="button" id="confirm-keyword-deletion" class="btn btn-danger btn-block" data-keyword-id="">{% trans 'Remove this keyword' %}</button>
              </div>
            </div>
          </div>
        </div>

      </section>

      <section id="search-string-section">

        <div class="modal fade" id="search-string-help">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{% trans 'About the Search String' %}</h4>
              </div>
              <div class="modal-body">
                <p>{% trans 'The golden rule to design a good search string is to separate the keywords and synonyms with the boolean operator <strong>OR</strong> and separate the <em>population</em>, <em>intervention</em>, <em>comparison</em> and <em>outcomes</em> with parentheses and using the boolean operator <strong>AND</strong>, as following:' %}</p>
                <pre><code>(<em>{% trans 'population' %}</em>   <strong>OR</strong> {% trans 'synonym' %}-1 <strong>OR</strong> {% trans 'synonym' %}-2 <strong>OR</strong> {% trans 'synonym' %}-n) <strong>AND</strong>
(<em>{% trans 'intervention' %}</em> <strong>OR</strong> {% trans 'synonym' %}-1 <strong>OR</strong> {% trans 'synonym' %}-2 <strong>OR</strong> {% trans 'synonym' %}-n) <strong>AND</strong>
(<em>{% trans 'comparison' %}</em>   <strong>OR</strong> {% trans 'synonym' %}-1 <strong>OR</strong> {% trans 'synonym' %}-2 <strong>OR</strong> {% trans 'synonym' %}-n) <strong>AND</strong>
(<em>{% trans 'outcomes' %}</em>     <strong>OR</strong> {% trans 'synonym' %}-1 <strong>OR</strong> {% trans 'synonym' %}-2 <strong>OR</strong> {% trans 'synonym' %}-n)</code></pre>
                <p>
                  <strong class="text-success"><span class="glyphicon glyphicon-ok"></span> {% trans 'Good example' %}</strong>
                  <pre style="word-break: normal;"><code>({% trans 'software' %} <strong>OR</strong> {% trans 'application' %} <strong>OR</strong> {% trans 'product' %} <strong>OR</strong> Web <strong>OR</strong> WWW <strong>OR</strong> projeto) <strong>AND</strong> (desenvolvimento <strong>OR</strong> "{% trans 'cross company' %}" <strong>OR</strong> "{% trans 'cross organisation' %}" <strong>OR</strong> "{% trans 'cross organization' %}" <strong>OR</strong> {% trans 'multiple-organizational' %}) <strong>AND</strong> ("multiple-organisational model" <strong>OR</strong> within-organisation <strong>OR</strong> within-organization <strong>OR</strong> within-organizational <strong>OR</strong> within-organisational <strong>OR</strong> "single company") <strong>AND</strong> (Accuracy <strong>OR</strong> "Mean Magnitude" <strong>OR</strong> "Relative Error")</code></pre>
                </p>
                <p>
                  <strong class="text-danger"><span class="glyphicon glyphicon-ban-circle"></span> {% trans 'Bad example' %}</strong>
                  <pre style="word-break: normal;"><code>software <strong>or</strong> aplicação <strong>or</strong> produto <strong>or</strong> Web <strong>or</strong> WWW <strong>or</strong> projeto <strong>and</strong> desenvolvimento <strong>or</strong> cross company <strong>or</strong> cross organisation <strong>or</strong> cross organization <strong>or</strong> multiple-organizational <strong>and</strong> multiple-organisational model <strong>or</strong> within-organisation <strong>or</strong> within-organization <strong>or</strong> within-organizational <strong>or</strong> within-organisational <strong>or</strong> single company <strong>and</strong> Accuracy <strong>or</strong> Mean Magnitude <strong>or</strong> Relative Error</code></pre>
                </p>
              </div>
            </div>
          </div>
        </div>

        <form>
          {% csrf_token %}
          <input type="hidden" name="review-id" value="{{ review.id }}">
          <div class="panel panel-default">
            <div class="panel-heading has-help">
              <h3 class="panel-title">
                {% trans 'Search String' %}
                <a href="javascript:void(0);" class="pull-right" data-toggle="tooltip" title="{% trans 'What is this? Click to get help.' %}" data-placement="top" data-container="body">
                  <span class="glyphicon glyphicon-question-sign big-glyphicon" data-toggle="modal" data-target="#search-string-help"></span>
                </a>
                {% include 'comments/comment_icon_button.html' with user=user about="SEARCH_STRING" %}
              </h3>
              <small class="text-muted pull-left help-info">
              	<span class="glyphicon glyphicon-info-sign"></span> {% trans "Separate the keywords and synonyms with the boolean operator <strong>OR</strong> and separate the <em>population</em>, <em>intervention</em>, <em>comparison</em> and <em>outcomes</em> with parentheses and using the boolean operator <strong>AND</strong>." %}
              </small>
            </div>
            <div class="panel-body">
              <div class="well" role="alert">
                <strong><span class="glyphicon glyphicon-info-sign"></span></strong> {% trans 'Use uppercase for boolean operators (<strong>AND</strong>, <strong>OR</strong>), double quotes for composite words and parentheses to logically separate the keywords and synonyms.' %}
              </div>
              <textarea rows="4" name="search-string" class="form-control expanding search-string" maxlength="10000">{{ review.get_generic_search_string.search_string }}</textarea>
            </div>
            <div class="panel-footer">
              <button type="button" class="btn btn-success btn-save-generic-search-string">
                <span class="btn-ajax-normal">
                  <span class="glyphicon glyphicon-ok"></span> {% trans 'Save' %}
                </span>
                <span class="btn-ajax-loading">
                  <span class="glyphicon glyphicon-refresh spin"></span> {% trans 'Saving…' %}
                </span>
                <span class="btn-ajax-error">
                  <span class="glyphicon glyphicon-remove"></span> {% trans 'Error!' %}
                </span>
                <span class="btn-ajax-complete">
                  <span class="glyphicon glyphicon-ok"></span> {% trans 'Saved!' %}
                </span>
              </button>
              <button type="button" class="btn btn-success btn-suggested-search-string">{% trans 'Suggested Search String' %}</button>
            </div>
          </div>
        </form>
      </section>

      <section id="sources-section">

      	<div class="modal fade" id="sources-help">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{% trans 'About the Sources' %}</h4>
              </div>
              <div class="modal-body">

              	<p>{% trans 'This section specifies which sources will be sought from the papers considered in this systematic literature review. It can identify electronic databases such as IEEE, ACM, Springer Link, ERIC or indicate that the search will be performed from offline sources. The sources indicated in this section will be presented during Conducting the Study Import process and subsequent Study Selection.'%}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="modal-suggested-sources">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{% trans 'Digital Libraries' %}</h4>
              </div>
              <div class="modal-body">
                <form action="." method="post" id="form-suggested-sources">
                  {% csrf_token %}
                  <input type="hidden" name="review-id" value="{{ review.id }}">
                  <table class="table" id="tbl-suggested-sources">
                    <thead>
                      <tr>
                        <th>
                          <input type="checkbox" id="checkbox-all-sources">
                        </th>
                        <th>{% trans 'Name' %}</th>
                        <th>URL</th>
                      </tr>
                    </thead>
                    <tbody></tbody>
                  </table>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                <button type="button" class="btn btn-success" id="btn-save-suggested-sources">{% trans 'Save' %}</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="modal-confirm-source-deletion">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{% trans 'Are you sure?' %}</h4>
              </div>
              <div class="modal-body">
                <p>{% trans 'This action <strong>cannot</strong> be undone. This will remove the <strong id="delete-source-name"></strong> source, and permanently delete all imported articles associated with it.' %}</p>
              </div>
              <div class="modal-footer">
                <button type="button" id="confirm-deletion" class="btn btn-danger btn-block" data-source-id="">{% trans 'Remove this source' %}</button>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading has-help">
            <h3 class="panel-title">{% trans 'Sources' %} ({% trans 'Digital Library' %})
            	<a href="javascript:void(0);" class="pull-right" data-toggle="tooltip" title="{% trans 'What is this? Click to get help.' %}" data-placement="top" data-container="body">
                	<span class="glyphicon glyphicon-question-sign big-glyphicon" data-toggle="modal" data-target="#sources-help"></span>
               </a>
               {% include 'comments/comment_icon_button.html' with user=user about="SOURCES" %}
            </h3>
            <small class="text-muted pull-left help-info">
            	{% trans "You can identify electronic databases such as IEEE, ACM or indicate that the search will be performed from offline sources." %}
            </small>
          </div>
          <table class="table" id="tbl-sources">
            <thead>
              <tr>
                <th>{% trans 'Name' %}</th>
                <th>URL</th>
                <th style="width: 200px"></th>
              </tr>
            </thead>
            <tbody>
              {% for source in review.sources.all %}
                <tr source-id="{{ source.id }}">
                  <td>{{ source.name }}</td>
                  <td>
                    {% if source.url %}
                      <a href="{{ source.url }}" target="_blank">{{ source.url }}</a>
                    {% else %}
                      {{ source.url }}
                    {% endif %}
                  </td>
                  <td class="text-right">
                    {% if source.is_default %}
                      <span data-toggle="tooltip" data-placement="top" data-container="body" title="It's not possible to edit Digital Library's details">
                        <button type="button" class="btn btn-warning btn-sm" disabled>
                          <span class="glyphicon glyphicon-pencil"></span>
                          {% trans 'edit' %}
                        </button>
                      </span>
                    {% else %}
                      <button type="button" class="btn btn-warning btn-sm btn-edit-source">
                        <span class="glyphicon glyphicon-pencil"></span>
                        {% trans 'edit' %}
                      </button>
                    {% endif %}
                    <button type="button" class="btn btn-danger btn-sm js-start-remove">
                      <span class="glyphicon glyphicon-trash"></span>
                      {% trans 'remove' %}
                    </button>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="panel-footer">
            <button type="button" class="btn btn-success" id="btn-add-source">
              <span class="glyphicon glyphicon-plus"></span>
              {% trans 'Add Source' %}
            </button>
            <button type="button" class="btn btn-success" id="btn-suggested-sources" data-toggle="modal" data-target="#modal-suggested-sources">
            	<span class="glyphicon glyphicon-plus"></span>
            	{% trans 'Add a Digital Library' %}
            </button>
          </div>
        </div>
      </section>

      <section id="selection-section" >

      	<div class="modal fade" id="selection-criteria-help">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{% trans 'About Selection Criterias' %}</h4>
              </div>
              <div class="modal-body">
              	<p>{% trans 'The inclusion and exclusion criteria indicate which parameters will be considered to determine whether or not a given study will be included in the systematic review performed. Inclusion criteria indicate all criteria that must be met for a given work to be considered. On the other hand, exclusion criteria indicate parameters that cannot be detected in a job to be considered in such a way that if any criteria are applied to a job it should not be considered while conducting the systematic review.'%}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading has-help">
            <h3 class="panel-title">
            	{% trans 'Selection Criteria' %}
            	<a href="javascript:void(0);" class="pull-right" data-toggle="tooltip" title="{% trans 'What is this? Click to get help.' %}" data-placement="top" data-container="body">
                	<span class="glyphicon glyphicon-question-sign big-glyphicon" data-toggle="modal" data-target="#selection-criteria-help"></span>
               </a>
               {% include 'comments/comment_icon_button.html' with user=user about="CRITERIA" %}
            </h3>
            <small class="text-muted pull-left help-info">
            	{% trans "The inclusion and exclusion criteria indicate which parameters will be considered to determine whether or not a given study will be included in the systematic review performed." %}
            </small>
          </div>
          <div class="panel-body">
            <p>{% trans 'Inform your inclusion or exclusion criteria and press <strong>Enter</strong> to add.' %}</p>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="input-inclusion" class="control-label">{% trans 'Inclusion Criteria' %}</label>
                  <input type="text" id="input-inclusion" maxlength="200" class="form-control">
                </div>
                <div class="form-group">
                  <select multiple="multiple" size="6" id="inclusion-criteria" class="form-control">
                    {% for criteria in review.get_inclusion_criterias %}
                      <option value="{{ criteria.id }}">{{ criteria.description }}</option>
                    {% endfor %}
                  </select>
                </div>
                <button type="button" class="btn btn-danger btn-sm btn-remove-criteria" data-target="#inclusion-criteria">
                  <span class="glyphicon glyphicon-trash"></span>
                  {% trans 'remove selected' %}
                </button>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="input-exclusion" class="control-label">{% trans 'Exclusion Criteria' %}</label>
                  <input type="text" id="input-exclusion" maxlength="200" class="form-control">
                </div>
                <div class="form-group">
                  <select multiple="multiple" size="6" id="exclusion-criteria" class="form-control">
                    {% for criteria in review.get_exclusion_criterias %}
                      <option value="{{ criteria.id }}">{{ criteria.description }}</option>
                    {% endfor %}
                  </select>
                </div>
                <button type="button" class="btn btn-danger btn-sm btn-remove-criteria" data-target="#exclusion-criteria">
                  <span class="glyphicon glyphicon-trash"></span>
                  {% trans 'remove selected' %}
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="selection-reviewer-section" style="margin-bottom: 20px;">
      	<div class="modal fade" id="master-reviewer-help">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{% trans 'About Selection Master Reviewer' %}</h4>
              </div>
              <div class="modal-body">
              	<p>{% trans 'During the study selection process, reviewers should evaluate the papers considered and, in the light of the inclusion and exclusion criteria, determine whether they should be selected or not for further consideration. In this sense, considering that the evaluation should preferably be performed by two or more reviewers, there may be conflicting scenarios in which the selections made by the reviewers differ from each other.'%}</p>
              	<p>{% trans 'Thus, this section indicates which reviewer will be considered as the master reviewer for conflict resolution during the study selection process.' %}</p>
              </div>
            </div>
          </div>
        </div>

        <form method="post" id="form-selection-reviewer">
          {% csrf_token %}
          <input type="hidden" name="review-id" value="{{ review.id }}">
          <div class="panel panel-default">
            <div class="panel-heading has-help">
              <h3 class="panel-title">
                {% trans 'Selection Reviewer' %}
                <a href="javascript:void(0);" class="pull-right" data-toggle="tooltip" title="{% trans 'What is this? Click to get help.' %}" data-placement="top" data-container="body">
                	<span class="glyphicon glyphicon-question-sign big-glyphicon" data-toggle="modal" data-target="#master-reviewer-help"></span>
             	</a>
              </h3>
              <small class="text-muted pull-left help-info">
              	{% trans "Necessary only if the review has more than one reviewer, since it could occur conflicts between reviewers during the Study Selection phase." %}
              </small>
            </div>
            <div class="panel-body">
              <p>{% trans "The reviewer will resolve the conflicts between the author's article evaluations for resolution conflits." %}</p>
              <form method="post" id="form-objective">
                {% csrf_token %}
                <input type="hidden" name="review-id" value="{{ review.id }}">
                <div class="form-group">
                  <select name="selection-reviewer" class="form-control">
                    <option value="{{review.selection_reviewer.id}}" selected>{{ review.selection_reviewer.username }}</option>
                    {% if review.author.id != review.selection_reviewer.id %}
                      <option value="{{review.author.id}}">{{ review.author.username }}</option>
                    {% endif %}
                    {% for co_author in review.co_authors.all %}
                      {% if co_author.id != review.selection_reviewer.id %}
                        <option value="{{ co_author.id }}">{{ co_author.username }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </form>
            </div>
            <div class="panel-footer">
              <button type="button" class="btn btn-success btn-save-selection-reviewer">
                <span class="btn-ajax-normal">
                  <span class="glyphicon glyphicon-ok"></span> {% trans 'Save' %}
                </span>
                <span class="btn-ajax-loading">
                  <span class="glyphicon glyphicon-refresh spin"></span> {% trans 'Saving…' %}
                </span>
                <span class="btn-ajax-error">
                  <span class="glyphicon glyphicon-remove"></span> {% trans 'Error!' %}
                </span>
                <span class="btn-ajax-complete">
                  <span class="glyphicon glyphicon-ok"></span> {% trans 'Saved!' %}
                </span>
              </button>
            </div>
          </div>
        </form>
      </section>

    </div>
  </div>

{% endblock content %}
