{% extends 'base.html' %}
{% load i18n humanize is_visitor %}

{% load staticfiles %}

{% block title %} {% trans 'Planning' %} · {{ review.title }}{% endblock %}

{% block stylesheet %}
  <style>
    body,html,.wrapper{height:auto;}
    section {padding-top:20px;}
    #planning-tab,section>.panel,section form>.panel{margin-bottom:0;}
  </style>
{% endblock stylesheet %}

{% block javascript %}
  <script src="{% static 'js/planning_quality_assessment.js' %}?_=2"></script>
  {% if user|is_visitor:review %}
    <script src="{% static 'js/user_is_visitor.js' %}?v=1"></script>
  {% endif %}
  <script>
    $(function () {
      $("#protocol").affix({
        offset: {
          top: $("#protocol").offset().top - 20,
          bottom: 70
        }
      });
    });
  </script>
{% endblock javascript %}

{% block content %}

  {% include 'reviews/review_header.html' with active_menu='planning' %}
  {% include 'planning/planning_header.html' with active_tab='quality' %}

  {% csrf_token %}

  <div class="row">
    <div class="hidden-sm col-md-4 col-lg-3" style="padding-top: 20px;">
      <div id="protocol" class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans 'Quality Assessment Checklist' %}</h3>
        </div>
        <div class="list-group">
          <a href="#questions" class="list-group-item">{% trans 'Questions' %}</a>
          <a href="#answers" class="list-group-item">{% trans 'Answers' %}</a>
          <a href="#score" class="list-group-item">{% trans 'Score' %}</a>
        </div>
        <div class="panel-footer">
          <button type="button" class="btn btn-success btn-block" id="btn-share-quality-questions" data-toggle="modal" data-target="#modal-share-quality-questions">
            <span class="glyphicon glyphicon-export"></span>
            {% trans 'Share Quality Assessment' %}
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-9">

      <section id="questions">
      
      	<div class="modal fade" id="questions-help">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{% trans 'About Question' %}</h4>
              </div>
              <div class="modal-body">
              	<p>{% trans "One of the stages of conducting a Systematic Review is the application of a Quality Assessment questionnaire. The main motivation is to be able to determine an evaluation barema that will be applied to the considered works in order to determine which works meet the established minimum quality criteria. Examples of questions for quality assessment would be to verify whether the work under consideration performs empirical evaluation or whether the method considered is, in the reviewer's view, systematically described."%}</p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
            	{% trans 'Questions' %}
            	<a href="javascript:void(0);" class="pull-right" data-toggle="tooltip" title="{% trans 'What is this? Click to get help.' %}" data-placement="top" data-container="body">
                  <span class="glyphicon glyphicon-question-sign" data-toggle="modal" data-target="#questions-help"></span>
                </a>	
            </h3>
          </div>
          <table class="table" id="tbl-quality-questions">
            <tbody>
              {% for quality_question in review.get_quality_assessment_questions %}
                {% include "planning/partial_quality_assessment_question.html" with quality_question=quality_question %}
              {% empty %}
                {% include "planning/partial_quality_assessment_question_form.html" %}
              {% endfor %}
            </tbody>
          </table>
          <div class="panel-footer">
            <button type="button" class="btn btn-success" id="btn-add-quality-question">
              <span class="glyphicon glyphicon-plus"></span>
              {% trans 'Add Question' %}
            </button>
            <button type="button" class="btn btn-success" id="btn-import-quality-questions" data-toggle="modal" data-target="#modal-suggested-quality-questions">
              <span class="glyphicon glyphicon-import"></span>
              {% trans 'Import Questions' %}
            </button>
          </div>
        </div>
      </section>

      <section id="answers">
      	<div class="modal fade" id="answers-help">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{% trans 'About Answers' %}</h4>
              </div>
              <div class="modal-body">
              	<p>{% trans 'In this section you should indicate the possible answers to the quality assessment questionnaire. In the current version, the answers will apply to all questions so that they must be defined in a generic way. Commonly used answers are threefold (Yes, No and Partially) to indicate the level of adherence of the work to the considered quality criterion.'%}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
            	{% trans 'Answers' %}
            	<a href="javascript:void(0);" class="pull-right" data-toggle="tooltip" title="{% trans 'What is this? Click to get help.' %}" data-placement="top" data-container="body">
                  <span class="glyphicon glyphicon-question-sign" data-toggle="modal" data-target="#answers-help"></span>
                </a>
            </h3>
          </div>
          <table class="table" id="tbl-quality-answers">
            <thead>
              <tr>
                <th>{% trans 'Description' %}</th>
                <th>{% trans 'Weight' %}</th>
                <th style="width: 150px;"></th>
              </tr>
            </thead>
            <tbody>
              {% for quality_answer in review.get_quality_assessment_answers %}
                {% include "planning/partial_quality_assessment_answer.html" with quality_answer=quality_answer %}
              {% empty %}
                {% include "planning/partial_quality_assessment_answer_form.html" %}
              {% endfor %}
            </tbody>
          </table>
          <div class="panel-footer">
            <button type="button" class="btn btn-success" id="btn-add-quality-answer">
              <span class="glyphicon glyphicon-plus"></span>
              {% trans 'Add Answer' %}
            </button>
            <button type="button" class="btn btn-success" id="btn-import-quality-answers" data-toggle="modal" data-target="#modal-suggested-quality-answers">
              <span class="glyphicon glyphicon-import"></span>
              {% trans 'Import Answers' %}
            </button>
            {% if not review.get_quality_assessment_answers %}
              <button type="button" class="btn btn-link" id="add-suggested-answers">
              {% trans '(Add Suggested Answers)' %}
              </button>
            {% endif %}
          </div>
        </div>
      </section>

      <section id="score" style="margin-bottom: 20px;">
      	<div class="modal fade" id="scores-help">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                	{% trans 'About Quality Assessment Scores' %}
                </h4>
              </div>
              <div class="modal-body">
              	<p>{% trans 'The help-text is under construction.'%}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
            	{% trans 'Quality Assessment Scores' %}
            	<a href="javascript:void(0);" class="pull-right" data-toggle="tooltip" title="{% trans 'What is this? Click to get help.' %}" data-placement="top" data-container="body">
                  	<span class="glyphicon glyphicon-question-sign" data-toggle="modal" data-target="#scores-help"></span>
                </a>
            </h3>
          </div>
          <table class="table" id="tbl-cutoff-score">
            <tbody>
              <tr>
                <td style="white-space: nowrap; vertical-align: middle;"><strong>{% trans 'Max Score' %}</strong></td>
                <td><input type="text" class="form-control" id="max-score" readonly value="{{ review.calculate_quality_assessment_max_score }}" style="width: 70px; text-align: right;"></td>
                <td>
                  <span class="help-block">{% trans 'Calculated based on the number of questions and on the answer of greater weight' %}</span>
                </td>
              </tr>
              <tr>
                <td style="white-space: nowrap; vertical-align: middle;"><strong>{% trans 'Cutoff Score' %}</strong></td>
                <td><input type="text" class="form-control" id="cutoff-score" value="{{ review.quality_assessment_cutoff_score }}" style="width: 70px; text-align: right;"></td>
                <td>
                  <button type="button" class="btn btn-sm btn-success" id="save-cutoff-score">
                    <span class="btn-ajax-normal">
                      <span class="glyphicon glyphicon-ok"></span> {% trans 'save' %}
                    </span>
                    <span class="btn-ajax-loading">
                      <span class="glyphicon glyphicon-refresh spin"></span> {% trans 'saving…' %}
                    </span>
                    <span class="btn-ajax-complete">
                      <span class="glyphicon glyphicon-ok"></span> {% trans 'saved!' %}
                    </span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>

      <div class="modal fade" id="modal-suggested-quality-questions">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">{% trans 'Import Quality Assessment Questions' %}</h4>
            </div>
            <div class="modal-body">
              <p style="margin-bottom: 20px;">{% trans 'Below you see the reviews that exported your quality assessment questions, choose one to import the questions for your review' %}</p>
              <table class="table" id="tbl-import-quality-questions">
                <thead>
                  <tr>
                    <th>{% trans 'ID' %}</th>
                    <th>{% trans 'Review' %}</th>
                    <th>{% trans 'Author' %}</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="modal-suggested-quality-answers">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">{% trans 'Import Quality Assessment Answers' %}</h4>
            </div>
            <div class="modal-body">
              <p style="margin-bottom: 20px;">{% trans 'Below you see the reviews that exported your quality assessment answers, choose one to import the answers for your review' %}</p>
              <table class="table" id="tbl-import-quality-answers">
                <thead>
                  <tr>
                    <th>{% trans 'ID' %}</th>
                    <th>{% trans 'Review' %}</th>
                    <th>{% trans 'Author' %}</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="modal-share-quality-questions">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">{% trans 'Export Quality Assesment' %}</h4>
            </div>
            <div class="modal-body">
              {% if review.export_qualityassessment %}
                <p>{% trans 'Your Quality Assessment are already shared. Do you wanna make it private again?' %}</p>
              {% elif not review.export_qualityassessment %}
                <p>{% trans 'If you agree, your Quality Assessment will be made known to other researchers to use them' %}</p>
              {% endif %}
            </div>
            <div class="modal-footer" style="text-align: left;">
              <form id="share-quality-questions-form">
                {% csrf_token %}
                <button type="button" id="btn-confirm-quality-questions-share" class="btn btn-success btn-block" data-keyword-id="">
                    {% if review.export_qualityassessment %}
                      {% trans 'Hide Quality Assessment' %}
                    {% elif not review.export_qualityassessment %}
                      {% trans 'Export Quality Assessment' %}
                    {% endif %}
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

{% endblock content %}
