{% extends 'base.html' %}
{% load i18n %}

{% load humanize %}

{% load staticfiles %}

{% block title %} {% trans 'Planning' %} · {{ review.title }}{% endblock %}

{% block stylesheet %}
  <style>
    body,html,.wrapper{height:auto;}
    section {padding-top:20px;}
    #planning-tab,section>.panel,section form>.panel{margin-bottom:0;}
  </style>
{% endblock stylesheet %}

{% block javascript %}
  <script src="{% static 'js/planning_risk.js' %}?_=2"></script>
  <script>
    $(function () {
      $("#protocol").affix({
        offset: {
          top: $("#protocol").offset().top - 20,
          bottom: 70
        }
      });
    });
  </script>
{% endblock javascript %}

{% block content %}

  {% include 'reviews/review_header.html' with active_menu='planning' %}
  {% include 'planning/planning_header.html' with active_tab='risks' %}


  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">

      <section id="risks" style="margin-bottom: 20px;">
        <form method="post" id="risk-form">
          {% csrf_token %}
          <input type="hidden" name="review-id" value="{{ review.id }}">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{% trans 'Risks' %}</h3>
            </div>
            <table class="table" id="tbl-risks">
              <tbody>
                {% for risk in review.get_risks %}
                  {% include "planning/partial_planning_risk.html" with risk=risk %}
                {% empty %}
                  {% include "planning/partial_planning_risk_form.html" %}
                {% endfor %}
              </tbody>
            </table>
            <div class="panel-footer">
              <button type="button" style="margin:5px" class="btn btn-primary" id="btn-add-risk">
                <span class="glyphicon glyphicon-plus"></span>
                {% trans 'Add Risk' %}
              </button>
              <button type="button" style="margin:5px" class="btn btn-primary pull-right" id="btn-import-risk" data-toggle="modal" data-target="#modal-suggested-risks">
                <span class="glyphicon glyphicon-import"></span>
                {% trans 'Import Risks' %}
              </button>
              <button type="button" style="margin:5px" class="btn btn-primary pull-right" id="btn-share-risk" data-toggle="modal" data-target="#modal-share-risks">
                <span class="glyphicon glyphicon-share"></span>
                {% trans 'Share your Risks' %}
              </button>
            </div>
          </div>
        </form>
      </section>

    </div>
  </div>

  <section id="sources-section">
    <div class="modal fade" id="modal-suggested-risks">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{% trans 'Shared Risks' %}</h4>
          </div>
          <div class="modal-body">
            <form action="." method="post" id="form-suggested-risks">
              {% csrf_token %}
              <input type="hidden" name="review-id" value="{{ review.id }}">
              <table class="table" id="tbl-suggested-risks">
                <thead>
                  <tr>
                    <th>
                      ?
                      <input type="checkbox" id="checkbox-all-risks">
                    </th>
                    <th>{% trans 'Review' %}</th>
                    <th>{% trans 'Risks' %}</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
            <button type="button" class="btn btn-success" id="btn-save-import-risks">{% trans 'Save' %}</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modal-share-risks">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{% trans 'Share your Risks' %}</h4>
          </div>
          <form action="." method="post" id="form-suggested-risks">
            <div class="modal-body">
            
                {% csrf_token %}
                <input type="hidden" name="review-id" value="{{ review.id }}">

                {% trans 'Do you want to share your risk definitions with other researchers?' %}
                <br/>
                <br/>
                <div class="text-muted">{% trans 'Share only if your risks might be valid for other reviews and are not domain specific to your review.'%}</div>
            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                <button type="button" class="btn btn-success" id="btn-share-risks">{% trans 'Share' %}</button>
            </div>
          </form>
        </div>
        
      </div>
    </div>

  </section>

{% endblock content %}
