{% extends 'base.html' %}
{% load i18n humanize is_visitor %}

{% load staticfiles %}

{% block title %} {% trans 'Planning' %} · {{ review.title }}{% endblock %}

{% block stylesheet %}
  <style>
    body,html,.wrapper{height:auto;}
    section {padding-top:20px;}
    #planning-tab,section>.panel,section form>.panel{margin-bottom:0;}
  </style>
{% endblock stylesheet %}

{% block javascript %}
  <script src="{% static 'js/planning_risk.js' %}?_=2"></script>
  {% if user|is_visitor:review %}
    <script src="{% static 'js/user_is_visitor.js' %}?v=1"></script>
  {% endif %}
  <script>
    $(function () {
      $("#protocol").affix({
        offset: {
          top: $("#protocol").offset().top - 20,
          bottom: 70
        }
      });
    });
  </script>
{% endblock javascript %}

{% block content %}

  {% include 'reviews/review_header.html' with active_menu='planning' %}
  {% include 'planning/planning_header.html' with active_tab='risks' %}


  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">

      <section id="risks" style="margin-bottom: 20px;">
      	<div class="modal fade" id="risks-help">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                	{% trans 'About Risks' %}
                </h4>
              </div>
              <div class="modal-body">
              	<p>{% trans 'The Risks help RSL'%}</p>
              </div>
            </div>
          </div>
        </div>
        <form method="post" id="risk-form">
          {% csrf_token %}
          <input type="hidden" name="review-id" value="{{ review.id }}">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
              	{% trans 'Risks' %}
              	<a href="javascript:void(0);" class="pull-right" data-toggle="tooltip" title="{% trans 'What is this? Click to get help.' %}" data-placement="top" data-container="body">
                  	<span class="glyphicon glyphicon-question-sign" data-toggle="modal" data-target="#risks-help"></span>
                </a>
                {% include 'comments/comment_icon_button.html' with user=user about="RISKS" %}
              </h3>
            </div>
            <table class="table" id="tbl-risks">
              <tbody>
                {% for risk in review.get_risks %}
                  {% include "planning/partial_planning_risk.html" with risk=risk %}
                {% empty %}
                  {% include "planning/partial_planning_risk_form.html" %}
                {% endfor %}
              </tbody>
            </table>
            <div class="panel-footer">
              <button type="button" style="margin:5px" class="btn btn-success" id="btn-add-risk">
                <span class="glyphicon glyphicon-plus"></span>
                {% trans 'Add Risk' %}
              </button>
              <button type="button" style="margin:5px" class="btn btn-success pull-right" id="btn-import-risk" data-toggle="modal" data-target="#modal-suggested-risks">
                <span class="glyphicon glyphicon-import"></span>
                {% trans 'Import Risks' %}
              </button>
              <button type="button" style="margin:5px" class="btn btn-success pull-right" id="btn-share-risk" data-toggle="modal" data-target="#modal-share-risks">
                <span class="glyphicon glyphicon-share"></span>
                {% trans 'Share your Risks' %}
              </button>
            </div>
          </div>
        </form>
      </section>

    </div>
  </div>

  <section id="sources-section">
    <div class="modal fade" id="modal-suggested-risks">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{% trans 'Import Shared Risks' %}</h4>
          </div>
          <div class="modal-body">
          	 <p style="margin-bottom: 20px;">{% trans 'Below you see the reviews that exported your Risks, choose one to import the risks for your review' %}</p>
             {% csrf_token %}
             <input type="hidden" name="review-id" value="{{ review.id }}">
             <table class="table" id="tbl-import-risks">
               <thead>
               	<tr>
               		<th>{% trans 'ID' %}</th>
               		<th>{% trans 'Review' %}</th>
               		<th>{% trans 'Author' %}</th>
               		<th></th>
               		<th></th>
               	</tr>
             	</thead>
               <tbody></tbody>
             </table>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modal-share-risks">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{% trans 'Share your Risks' %}</h4>
          </div>

            <div class="modal-body">

            {% if review.export_risks %}
              <p>{% trans 'Your Risks are already shared. Do you wanna make it private again?' %}</p>
            {% else %}
              <p>{% trans 'If you agree, your Risks will be made known to other researchers to use them' %}</p>
            {% endif %}

            </div>
            <div class="modal-footer">
                <form id="share-risks-form">
	              {% csrf_token %}
	              <button type="button" id="btn-confirm-risks-share" class="btn btn-success btn-block" data-keyword-id="">
	                  {% if review.export_risks %}
	                    {% trans 'Hide Risks Fields' %}
	                  {% else %}
	                    {% trans 'Export Risks' %}
	                  {% endif %}
	              </button>
	            </form>
            </div>

        </div>

      </div>
    </div>

  </section>

{% endblock content %}
