{% extends 'base.html' %}

{% load i18n humanize is_visitor %}

{% load staticfiles %}

{% block title %} {% trans 'Planning' %} · {{review.title }}{% endblock %}

{% block javascript %}
  <script src="{% static 'js/planning_statistical.js' %}?v=1"></script>
{% endblock javascript %}

{% block content %}

{% include 'reviews/review_header.html' with active_menu='planning' %}
{% include 'planning/planning_header.html' with active_tab='statistical-methods' %}

<section id="statistical-methods" style="margin-bottom: 20px;">

	<div class="panel panel-default">

		<div class="panel-heading">
			<h3 class="panel-title">
				{% trans 'Statistical Methods and Conventions' %}
				<a
					href="javascript:void(0);" class="pull-right" data-toggle="tooltip"
					title="{% trans 'What is this? Click to get help.' %}"
					data-placement="top" data-container="body"> <span
					class="glyphicon glyphicon-question-sign" data-toggle="modal"
					data-target="#statistical-help"></span>
        </a>
        {% include 'comments/comment_icon_button.html' with user=user about="STATISTICAL_METHODS" %}
			</h3>
		</div>
		<div class="panel-body">
			<form method="post" id="form-statistical-methods">
				{% csrf_token %}
				<input type="hidden" name="review-id" value="{{ review.id }}">
				<div class="form-group">
					<textarea rows="8" name=statistical_methods id="statistical_methods" class="form-control expanding">{{ review.statistical_methods }}</textarea>
				</div>
			</form>

		</div>


		<div class="panel-footer">
			<button type="button" class="btn btn-success btn-save-statistical-methods">
				<span class="btn-ajax-normal">
					<span class="glyphicon glyphicon-ok"></span>
					{% trans 'Save' %}
				</span>
				<span class="btn-ajax-loading">
					<span class="glyphicon glyphicon-refresh spin"></span>
					{% trans 'Saving…'%}
				</span>

				<span class="btn-ajax-error">
					<span class="glyphicon glyphicon-remove"></span>
					{% trans 'Error!' %}
				</span>

				<span class="btn-ajax-complete">
					<span class="glyphicon glyphicon-ok"></span>
					{% trans 'Saved!' %}
				</span>
			</button>
		</div>
	</div>



	<div class="modal fade" id="statistical-help">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">{% trans 'About Statistical Methods and Conventions' %}</h4>
				</div>
				<div class="modal-body">
					<p>
						{% trans "<strong>Statistical Methods and Conventions used for the review.</strong>..." %}
					</p>
				</div>
				<div class="modal-footer" style="text-align: left;">
					<p>
						<small class="text-muted">Autores <a
							href="http://www.springer.com/us/book/9783642290435"
							target="_blank">"Título"</a>,
							Springer, ISBN 978333-3-642-29043-5, 2016.
						</small>
					</p>
				</div>
			</div>
		</div>
	</div>




</section>

{% endblock content %}
