{% extends 'conducting/conducting.html' %}
{% load i18n staticfiles humanize is_visitor %}

{% block javascript %}
  <script type="text/javascript" src="{% static 'js/conducting_import_studies.js' %}"></script>
  {% if user|is_visitor:review %}
    <script src="{% static 'js/user_is_visitor.js' %}?v=1"></script>
  {% endif %}
  <script type="text/javascript">
    /*
    $(function () {
      //$('[data-toggle="tooltip"]').tooltip()
    });
    */
  </script>
{% endblock javascript %}

{% block tab_content %}

  {% include "conducting/conducting_header.html" with active_tab="import" %}
  <div class="modal fade" id="import-studies-help">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{% trans 'About Import Studies' %}</h4>
        </div>
        <div class="modal-body">
          <p>{% trans 'Enables the metadata import of selected studies for each source.' %}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
          	{% trans 'Import Studies' %}
         	<a href="javascript:void(0);" class="pull-right" data-toggle="tooltip" title="{% trans 'What is this? Click to get help.' %}" data-placement="top" data-container="body">
          		<span class="glyphicon glyphicon-question-sign" data-toggle="modal" data-target="#import-studies-help"></span>
          </a>
          {% include 'comments/comment_icon_button.html' with user=user about="IMPORT_STUDIES" %}
         </h3>
        </div>
        {% if review.sources.all %}
          <table class="table table-v-align-middle" id="tbl-import-studies">
            <thead>
              <tr>
                <th>{% trans 'Source' %}</th>
                <th>{% trans 'Imported Studies' %}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for source in sources %}
                <tr>
                  <td>
                  	{{ source.source.name }}
                  	{% if source.source.is_default %}
                  	<span class="glyphicon glyphicon-ok-circle" data-toggle="tooltip" data-placement="top" title="Fonte Padrão"></span>
                  	{% endif %}
                  </td>
                  <td>{{ source.count }}</td>
                  <td class="text-center">
                    <form enctype="multipart/form-data" method="post" action="{% url 'reviews:conducting:import_bibtex' %}">
                      {% csrf_token %}
                      <input type="hidden" name="review-id" value="{{ review.id }}">
                      <input type="hidden" name="source-id" value="{{ source.source.id }}">
                      <input type="file" class="hide" name="bibtex">
                    </form>
                    <div class="btn-group">
                      <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-cloud-upload"></span>
                        {% trans 'Import' %}
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="javascript:void(0);" class="btn-import-bibtex">{% trans 'BibTeX file' %} <small>(.bib, .bibtex)</small></a></li>
                        <li><a href="javascript:void(0);" class="js-import-bibtex-raw-content" data-source-id="{{ source.source.id }}" data-toggle="modal" data-target="#parse-bibtex">{% trans 'Paste BibTeX content' %}</a></li>
                      	<li><a href="javascript:void(0);" class="js-new-document" data-source-id="{{ source.source.id }}" data-review-id="{{ review.id }}">{% trans 'Add document' %}</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <div class="panel-body">
            <p>{% trans 'There are a few steps you have to finish before you import the studies:' %}</p>
            <ul>
              <li>{% trans 'Use the' %} <a href="{% url 'planning' review.author.username review.name %}#sources-section">{% trans 'planning tab' %}</a> {% trans 'to add sources to your review.' %}</li>
            </ul>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  <form action="{% url 'reviews:conducting:import_bibtex_raw_content' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="review-id" value="{{ review.id }}">
    <input type="hidden" id="bibtex-raw-content-source-id" name="source-id" value="">
    <div class="modal fade" id="parse-bibtex">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{% trans 'Parse BibTeX Content' %}</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="bibtex_raw_content" class="control-label">{% trans 'Paste the raw BibTeX file contents' %}</label>
              <textarea id="bibtex_raw_content" name="bibtex_file" class="form-control" rows="10"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> {% trans 'Import' %}</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="modal fade" id="modal-document" data-remote-url="{% url 'reviews:conducting:new_document' %}">
    <div class="modal-dialog modal-lg">


    </div>
  </div>


{% endblock tab_content %}
