{% extends 'conducting/conducting.html' %}
{% load i18n staticfiles humanize is_visitor %}

{% block stylesheet %}
  <link href="{% static 'css/fileupload/jquery.fileupload.css' %}" rel="stylesheet">
{% endblock stylesheet %}

{% block javascript %}
  <script src="{% static 'js/fileupload/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/fileupload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/fileupload/jquery.fileupload.js' %}"></script>
  <script src="{% static 'js/conducting_study_selection.js' %}"></script>
  {% if user|is_visitor:review %}
    <script src="{% static 'js/user_is_visitor.js' %}?v=1"></script>
  {% endif %}
{% endblock javascript %}

{% block tab_content %}

  {% include "conducting/conducting_header.html" with active_tab="studies" %}

  <h3>{% trans 'Study Selection' %}</h3>

  <div class="modal fade" id="modal-duplicates">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{% trans 'Duplicates' %}</h4>
        </div>
        <div class="modal-body" style="overflow-y: scroll;">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
          <button type="button" class="btn btn-success" id="btn-resolve-all">{% trans 'Resolve All' %}</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="modal-add-article">
    <div class="modal-header">
      <a href="#" class="close close-modal">×</a>
      <h2>{% trans 'New Article' %}</h2>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-warning close-modal">{% trans 'Cancel' %}</button>
      <button type="button" class="btn btn-success btn-save-article">{% trans 'Save' %}</button>
    </div>
  </div>

  <div class="modal fade" id="modal-article">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{% trans 'Article Details' %} <small>(<span class="current-article"></span>/<span class="total-articles"></span>)</small></h4>
        </div>
        <div class="modal-body" style="overflow-y: scroll;">

        </div>
        <div class="modal-footer">
          <div class="pull-left">
            <div class="checkbox">
              <label>
                <input type="checkbox" id="save-and-move-next"> {% trans 'Automatically save the status on change and move next' %}
              </label>
            </div>
          </div>
          <button type="button" class="btn btn-success" id="btn-previous">{% trans 'Previous' %}</button>
          <button type="button" class="btn btn-success" id="btn-next">{% trans 'Next' %}</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
          <button type="button" class="btn btn-success btn-save-article">{% trans 'Save' %}</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modal-rejected">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{% trans 'Justify why article was rejected' %}</h4>
        </div>
        <div class="modal-body" style="overflow-y: scroll;">

        </div>
        <div class="modal-footer">
          <div class="pull-left">
            <div class="checkbox">
              <label>
                <input type="checkbox" id="save-and-move-next"> {% trans 'Automatically save the status on change and move next' %}
              </label>
            </div>
          </div>
          <button type="button" class="btn btn-success" id="btn-previous">{% trans 'Previous' %}</button>
          <button type="button" class="btn btn-success" id="btn-next">{% trans 'Next' %}</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
          <button type="button" class="btn btn-success btn-save-article">{% trans 'Save' %}</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="selection-study-help">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{% trans 'About Selection Studies' %}</h4>
        </div>
        <div class="modal-body">
          <p>The Selection Studies help RSL</p>
        </div>
      </div>
    </div>
  </div>

  {% if finished_all_steps %}
    <ul class="nav nav-tabs" id="source-tab">
      <li>
        <a href="#" source-id="None">{% trans 'All Sources' %}</a>
      </li>
      {% for source in review.sources.all %}
        <li{% if source.id == active_tab %} class="active"{% endif %}>
          <a href="#" source-id="{{ source.id }}">{{ source.name }}</a>
        </li>
      {% endfor %}
    </ul>
    
   	<div id="alert_count_limited">
   		<div class="alert alert-warning" role="alert">
   			<span class="glyphicon glyphicon-alert"></span>
   			{% trans 'Temporarimente, a exibição dos resultados está limitado a 250 artigos. Utilize os filtros de <b>status</b> para navegar sobre todos os artigos.' %}
   			<br/>
   			{% trans '[ Aceito | Rejeitado | Não classificado | Duplicado | Aguardando | Conflito ]'%}
   		</div>
   	</div>
    
    <div class="source-tab-content" style="min-height: 250px;"></div>
  {% else %}
    <p>{% trans 'There are a few steps you have to finish before you select the studies:' %}</p>
    <ul>
      {% for message in steps_messages %}
        <li>{{ message|safe }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock tab_content %}
