{% extends 'conducting/conducting.html' %}
{% load i18n staticfiles humanize is_visitor %}

{% block javascript %}
  <script src="https://www.google.com/jsapi"></script>
  <script src="{% static 'js/conducting_data_analysis.js' %}"></script>
  {% if user|is_visitor:review %}
    <script src="{% static 'js/user_is_visitor.js' %}?v=1"></script>
  {% endif %}
{% endblock javascript %}

{% block tab_content %}

  {% include "conducting/conducting_header.html" with active_tab="analysis" %}

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{% trans 'Meta analysis results' %}

        {% include 'comments/comment_icon_button.html' with user=user about="DATA_ANALYSIS" %}
      </h3>
    </div>
    <div class="panel-body">
      <div class="col-sm-7">
        {{analysis.forest_plot|safe}}
      </div>
      <div class="col-sm-5">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>{% trans 'Article' %}</th>
              <th>{% trans 'Effect Size' %}</th>
              <th>{% trans 'I' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for data in analysis.dataset %}
            <tr>
              <td>{{data.0}}</td>
              <td>{{data.1}}</td>
              <td>Efeito</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{% trans 'Articles Per Source' %}
      </h3>
    </div>
    <div class="panel-body">
      <div id="articles-selection-pie"></div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{% trans 'Accepted Articles Per Source' %}</h3>
    </div>
    <div class="panel-body">
      <div id="articles-selection-column"></div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{% trans 'Final Articles Per Year <small>(After study selection and quality assessment)</small>' %}</h3>
    </div>
    <div class="panel-body">
      <div id="articles-selection-line"></div>
    </div>
  </div>

{% endblock tab_content %}
