{% load i18n %}

{% load humanize %}
<h3>{% trans 'Articles Distributed to Authors' %}</h3>
<table class="table">
  <thead>
    <tr>
      <th>{% trans 'Author' %}</th>
      <th>{% trans 'Quantity' %}</th>
    </tr>
  </thead>
  <tbody>
    {% for author in distributeds %}
      <tr>
        <td>
          {% if author.articlereviewer__reviewer__first_name and author.articlereviewer__reviewer__last_name %}
            {{ author.articlereviewer__reviewer__first_name }} {{ author.articlereviewer__reviewer__last_name }}
          {% else %}
            {{ author.articlereviewer__reviewer__username }}</td>
          {% endif %}
        <td>{{ author.count }}</td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="6" style="text-align: center">{% trans 'No articles was distributed.' %}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
