{% load i18n humanize %}

<div class="row">
  <div class="col-md-12">
    <p>{% trans 'The review authors have made the following evaluations. Since you are the reviewer, you can see them.' %}</p>
    <table class="table">
      <thead>
        <tr>
          <th>{% trans 'Author' %}</th>
          <th>{% trans 'Status' %}</th>
          <th>{% trans 'Criteria' %}</th>
          <th>{% trans 'Comments' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for evaluation in article.get_evaluations %}
          <tr>
            <th>{{evaluation.user.username}}</th>
            <td>{{evaluation.get_status_html|safe}}</td>
            <td style="min-width: 150px">{{evaluation.selection_criteria}}</td>
            <td>{{evaluation.comments}}</td>
          </tr>
        {% empty %}
          <tr>
            <td class="text-center">{% trans 'There is not evaluations yet' %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% if article.evaluation_finished and review.selection_reviewer.id == user.id %}
  	<div class="row">
	    <div class="col-sm-12">
	      <p>{% trans 'This article evaluation was finished by you, because you solved a conflict and set status as:' %}</p>
	      {{article.get_status_html|safe}}
	     <span class="small text-muted">({{article.evaluation_finished_at}})</span>
	    </div>
  
	    <div class="col-sm-12" id="div_return_conflict">
	    	<p><p>
	   		<button type="button" class="btn btn-danger btn-return-conflict">{% trans 'Reopen for evaluation' %}</button>
	    </div>
    
   </div>
   <div class="row" id="new_evaluation_conflict" style="display:none;">
		<div class="col-md-12">
			<hr/>
			<p>{% trans 'Choose what status the article should have.' %}<p>
		</div>
		<div class="col-md-6">
			<form id="article_reopen_evaluation" name="article_reopen_evaluation">
			{% csrf_token %}
			<input type="hidden" name="article-id" id="article-id" value="{{article.id}}">
			<input type="hidden" name="review-id" id="review-id" value="{{review.id}}">
			<div class="form-group">
				<input type="hidden" name="reopen_evaluation-{{article.id}}" id="reopen_evaluation-{{article.id}}" value="false"/>
		    	<label class="control-label">{% trans 'Status' %}</label>
		      	<select name="status" id="status" class="form-control">
		        	{% for status in article.ARTICLE_FINAL_STATUS %}
		          		<option value="{{ status.0 }}"{% if article.status == status.0 %} selected{% endif %} >{{ status.1 }}</option>
		        	{% endfor %}
		      	</select>
		    </div>
		    </form>
		</div>
  	</div>
{% endif %}

