{% load i18n staticfiles is_visitor %}

{% load humanize %}
{% if user|is_visitor:review %}
    <script src="{% static 'js/user_is_visitor.js' %}?v=1"></script>
  {% endif %}
<div class="alert hide" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <span class="modal-alert"></span>
</div>

<form name="article-details" id="article-details" method="post" action=".">
  {% csrf_token %}
  <input type="hidden" name="article-id" id="article-id" value="{{ article.id }}">
  <input type="hidden" name="review-id" id="review-id" value="{{ article.review.id }}">
  <input type="hidden" name="source-id" id="source-id" value="{{ article.source.id }}">

  <div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist" id="article-details-tabs">
      <li role="presentation" class="active" id="tab-list-details">
        <a id="details-tab" href="#tab-details" aria-controls="tab-details" role="tab" data-toggle="tab" aria-selected="true">{% trans 'Details' %}</a>
      </li>
      <li role="presentation" id="tab-list-evaluation">
        <a id="evluation-tab" href="#tab-evaluation" aria-controls="tab-evaluation" role="tab" data-toggle="tab" aria-selected="false">{% trans 'Evaluation' %}</a>
      </li>
      <li role="presentation" id="tab-list-files">
        <a id="files-tab" href="#tab-files" aria-controls="tab-files" role="tab" data-toggle="tab" aria-selected="false">{% trans 'Files' %}</a>
      </li>
      {% if review.selection_reviewer.id == user.id %}
        <li role="presentation" id="tab-list-evaluations">
          <a id="evaluations-tab" href="#tab-evaluations" aria-controls="tab-evaluations" role="tab" data-toggle="tab" aria-selected="false">{% trans 'Authors Evaluations' %}</a>
        </li>
      {% endif %}
      {% if review.selection_reviewer.id == user.id and article.status == 'C' %}
        <li role="presentation" id="tab-list-conflict">
          <a id="conflict-tab" href="#tab-conflict" aria-controls="tab-conflict" role="tab" data-toggle="tab" aria-selected="false" style="color: red;">{% trans 'Conflict' %}</a>
        </li>
      {% endif %}
      {% if article.url %}
        <li class="pull-right">
          <a href="{{ article.url|default_if_none:'' }}" target="_blank" role="tab" title="{% trans 'Change the URL via Article URL' %}">
            <small>
              <span class="glyphicon glyphicon-new-window"></span>
              {% trans 'External Link' %}
            </small>
          </a>
        </li>
      {% endif %}
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="tab-details" aria-labelledby="details-tab">
        <div class="form-group">
          <label class="control-label">{% trans 'Title' %}</label>
          <input type="text" class="form-control" name="title" id="title" value="{{ article.title }}">
        </div>
        <div class="form-group">
          <label class="control-label">{% trans 'Abstract' %}</label>
          <textarea name="abstract" id="abstract" rows="5" class="form-control">{{ article.abstract }}</textarea>
        </div>
        <div class="form-group">
          <label class="control-label">{% trans 'Year' %}</label>
          <input type="text" class="form-control" name="year" id="year" value="{{ article.year|default_if_none:'' }}">
        </div>
        <div class="form-group">
          <label class="control-label">{% trans 'Author' %}</label>
          <input type="text" class="form-control" name="author" id="author" value="{{ article.author|default_if_none:'' }}">
        </div>
        <div class="form-group">
          <label class="control-label">{% trans 'Keywords' %}</label>
          <input type="text" class="form-control" name="keywords" id="keywords" value="{{ article.keywords|default_if_none:'' }}">
        </div>
        <div class="form-group">
          <label class="control-label">{% trans 'Author Keywords' %}</label>
          <input type="text" class="form-control" name="author_keywords" id="author_keywords" value="{{ article.author_keywords|default_if_none:'' }}">
        </div>
        <div class="form-group">
          <label class="control-label">{% trans 'BibTex Key' %}</label>
          <input type="text" class="form-control" name="bibtex-key" id="bibtex-key" value="{{ article.bibtex_key }}">
        </div>
        <div class="form-group">
          <label class="control-label">{% trans 'Journal' %}</label>
          <input type="text" class="form-control" name="journal" id="journal" value="{{ article.journal|default_if_none:'' }}">
        </div>
        <div class="form-group">
          <label class="control-label">{% trans 'Document Type' %}</label>
          <input type="text" class="form-control" name="document-type" id="document-type" value="{{ article.document_type|default_if_none:'' }}">
        </div>
        <div class="form-group">
          <label class="control-label">{% trans 'Pages' %}</label>
          <input type="text" class="form-control" name="pages" id="pages" value="{{ article.pages|default_if_none:'' }}">
        </div>
        <div class="form-group">
          <label class="control-label">{% trans 'Volume' %}</label>
          <input type="text" class="form-control" name="volume" id="volume" value="{{ article.volume|default_if_none:'' }}">
        </div>
        <div class="form-group">
          <label class="control-label">DOI</label>
          <input type="text" class="form-control" name="doi" id="doi" value="{{ article.doi|default_if_none:'' }}">
        </div>
        <div class="form-group">
          <label class="control-label">URL</label>
          <input type="text" class="form-control" name="url" id="url" value="{{ article.url|default_if_none:'' }}">
        </div>
        <div class="form-group">
          <label class="control-label">{% trans 'Affiliation' %}</label>
          <input type="text" class="form-control" name="affiliation" id="affiliation" value="{{ article.affiliation|default_if_none:'' }}">
        </div>
        <div class="form-group">
          <label class="control-label">{% trans 'Publisher' %}</label>
          <input type="text" class="form-control" name="publisher" id="publisher" value="{{ article.publisher|default_if_none:'' }}">
        </div>
        <div class="form-group">
          <label class="control-label">ISSN</label>
          <input type="text" class="form-control" name="issn" id="issn" value="{{ article.issn|default_if_none:'' }}">
        </div>
        <div class="form-group">
          <label class="control-label">{% trans 'Language' %}</label>
          <input type="text" class="form-control" name="language" id="language" value="{{ article.language|default_if_none:'' }}">
        </div>
        <div class="form-group">
          <label class="control-label">{% trans 'Note' %}</label>
          <input type="text" class="form-control" name="note" id="note" value="{{ article.note|default_if_none:'' }}">
        </div>

      </div>
      </form>
      <div role="tabpanel" class="tab-pane" id="tab-evaluation" aria-labelledby="evluation-tab">
        <form name="article-evaluation" id="article-evaluation" method="post" action=".">
          {% csrf_token %}
          <input type="hidden" name="article-id" id="article-id" value="{{ article.id }}">
          <input type="hidden" name="review-id" id="review-id" value="{{ article.review.id }}">
          <input type="hidden" name="article-evaluation-id" id="article-evaluation-id" value="{{ article_evaluation.id }}">
          <div class="form-group">
            {% include 'conducting/partial_article_evaluation.html' with article=article review=review article_evaluation=article_evaluation %}
          </div>
        </form>
      </div>
      <div role="tabpanel" class="tab-pane" id="tab-files" aria-labelledby="files-tab">
        {% include 'conducting/partial_article_files.html' %}
      </div>
      {% if review.selection_reviewer.id == user.id and article.status == 'C' %}
        <div role="tabpanel" class="tab-pane" id="tab-conflict" aria-labelledby="conflict-tab">
          <form name="article-solve-conflict" id="article-solve-conflict" method="post" action=".">
            {% csrf_token %}
            <input type="hidden" name="article-id" id="article-id" value="{{ article.id }}">
            <input type="hidden" name="review-id" id="review-id" value="{{ article.review.id }}">
            <div class="form-group">
              {% include 'conducting/partial_article_conflict.html' with article=article review=review %}
            </div>
          </form>
        </div>
      {% endif %}
      {% if review.selection_reviewer.id == user.id %}
        <div role="tabpanel" class="tab-pane" id="tab-evaluations" aria-labelledby="evaluations-tab">
          {% include 'conducting/partial_article_authors_evaluations.html' with article=article review=review %}
        </div>
      {% endif %}
    </div>
  </div>
