{% load i18n %}
{% load i18n humanize is_visitor %}
{% load humanize %}

<div class="modal fade" id="detailed-help">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{% trans 'About Detailed' %}</h4>
      </div>
      <div class="modal-body">
        <p>The Detailed help RSL</p>
      </div>
    </div>
  </div>
</div>
<p>
  <form method="get" class="pull-right" style="display: inline;">
    <a href="javascript:void(0);" class="pull-right" data-toggle="tooltip" title="{% trans 'What is this? Click to get help.' %}" data-placement="top" data-container="body">
  		<span class="glyphicon glyphicon-question-sign" data-toggle="modal" data-target="#detailed-help"></span>
  	</a>
    <strong>{% trans 'Order by' %}: </strong>
    <select name="order" class="form-control" id="quality-assessment-order">
      <option value="title"{% if order = 'title' %} selected{% endif %}>{% trans 'Title' %} (a - z)</option>
      <option value="-title"{% if order = '-title' %} selected{% endif %}>{% trans 'Title' %} (z - a)</option>
      <option value="year"{% if order = 'year' %} selected{% endif %}>{% trans 'Year' %} (0 - 9)</option>
      <option value="-year"{% if order = '-year' %} selected{% endif %}>{% trans 'Year' %} (9 - 0)</option>
    </select>
  </form>
  <strong>{% trans 'Show' %}:</strong>
  <input type="radio" name="filter" id="all-filter" checked> {% trans 'All' %}
  <input type="radio" name="filter" id="done-filter"> {% trans 'Done' %}
  <input type="radio" name="filter" id="pending-filter"> {% trans 'Pending' %}
  {% if review.quality_assessment_cutoff_score > 0.0 %}
    <input type="radio" name="filter" id="score-higher-filter"> {% trans 'Score higher than' %} {{ review.quality_assessment_cutoff_score }}
    <input type="radio" name="filter" id="score-lower-filter"> {% trans 'Score lower or equal to' %} {{ review.quality_assessment_cutoff_score }}
  {% endif %}

</p>

<p>{% trans 'To answer the form you may click on the desired answer on the following tables.' %}</p>

<input type="hidden" id="cutoff-score" value="{{ review.quality_assessment_cutoff_score }}">
<input type="hidden" id="questions-count" value="{{ review.get_quality_assessment_questions|length }}">

<div class="quality-assessment">
  {{ quality_assessment_table|safe }}
</div>
