{% load i18n staticfiles is_visitor get_user_article_evaluation %}

{% load humanize %}
{% if user|is_visitor:review %}
  <script src="{% static 'js/user_is_visitor.js' %}?v=1"></script>
{% endif %}

<div class="modal fade" id="selection-studies-help">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{% trans 'About Import Studies' %}</h4>
      </div>
      <div class="modal-body">
       <p>{% trans 'Defines the studies that will be selected for analysis.' %}</p>
      </div>
    </div>
  </div>
</div>


<div class="articles clearfix">
  <div class="source-buttons">
    {% if not source.id %}
      <div style="margin-bottom: 20px">
      	
        <button type="button" class="btn btn-sm btn-default btn-find-duplicates">
          <span class="glyphicon glyphicon-duplicate"></span>
          {% trans 'Find Duplicates' %}
        </button>

        <form method="post" action="{% url 'reviews:conducting:export_results' %}" style="display: inline-block;">
          {% csrf_token %}
          <input type="hidden" name="review-id" value="{{ review.id }}">
          <button type="submit" class="btn btn-sm btn-default">
            <span class="glyphicon glyphicon-download-alt"></span>
            {% trans 'Export Articles' %}
          </button>
        </form>
        <span class="pull-right text-muted">
        	Total de <span class="articles-total ">{{ articles.count }}</span> artigos
        </span>
       
      </div>
   	{% else %}
    	<div style="margin-bottom: 20px">
    		<span class="badge badge-secondary pull-right" data-toggle="tooltip" data-placement="top" title="Artigos">
				<i class="fa fa-fw fa-files-o"></i>
				<span class="articles-total ">{{ articles.count }}</span>
			</span>
        </div>
    {% endif %}
    <a href="javascript:void(0);" class="pull-right" data-toggle="tooltip" title="{% trans 'What is this? Click to get help.' %}" data-placement="top" data-container="body">
       	<span class="glyphicon glyphicon-question-sign" data-toggle="modal" data-target="#selection-studies-help"></span>
    </a>
    
    {% include 'comments/comment_icon_button.html' with user=user about="STUDY_SELECTION" %}
  	
  	<p>
      <strong>{% trans 'Show' %}:</strong>
      <label class="radio-inline">
        <input type="radio" name="filter" value="ALL" checked> {% trans 'All' %}
      </label>
      <label class="radio-inline">
        <input type="radio" name="filter" value="A"> {% trans 'Accepted' %}
      </label>
      <label class="radio-inline">
        <input type="radio" name="filter" value="R"> {% trans 'Rejected' %}
      </label>
      <label class="radio-inline">
        <input type="radio" name="filter" value="U"> {% trans 'Unclassified' %}
      </label>
      <label class="radio-inline">
        <input type="radio" name="filter" value="D"> {% trans 'Duplicated' %}
      </label>
      <label class="radio-inline">
        <input type="radio" name="filter" value="W"> {% trans 'Waiting' %}
      </label>
      <label class="radio-inline">
        <input type="radio" name="filter" value="C"> {% trans 'Conflict' %}
      </label>
    </p>
  	
    <div class="studies-action" style="margin: 10px 0;">
      <strong>{% trans 'Action:' %}</strong>
      <select class="select-action form-control" style="width: 200px; display: inline-block;">
        <option value="">{% trans 'Select...' %}</option>
        <option value="remove">{% trans 'Remove selected' %}</option>
      </select>
      <button type="button" class="btn btn-default go-button">{% trans 'Run' %}</button>
      <span class="text-muted"><span class="articles-selected">0</span> {% trans 'of' %} <span class="articles-total">{{ articles.count }}</span> {% trans 'selected' %}</span>
    </div>
    
  </div>
  <div class="source-articles">
    <table class="table table-hover table-bordered" csrf-token="{{ csrf_token }}" source-id="{{ source.id }}" style="font-size: 13px">
      <thead>
        <tr>
          <th style="width: 35px; text-align: center;"><input type="checkbox" id="ck-all-articles"></th>
          <th>{% trans 'Bibtex Key' %}</th>
          <th>{% trans 'Title' %}</th>
          <!-- <th>{% trans 'Author' %}</th> -->
          <th>{% trans 'Journal' %}</th>
          <th style="min-width: 80px;">{% trans 'Year' %}</th>
          <th>{% trans 'Abstract' %}</th>
          <!-- <th style="min-width: 100px;">{% trans 'Added by' %}</th>-->
          <!-- <th style="min-width: 100px;">{% trans 'Added at' %}</th>-->
          <th>Status</th>
          <th>{% trans 'Your evaluation' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for article in articles %}
          <tr oid="{{ article.id }}" article-status="{{ article.status }}">
            <td style="text-align: center;"><input type="checkbox" value="{{ article.id }}"></td>
            <td class="table-link">
            	{{ article.bibtex_key }}
            	<br/>
            	<!--  
            	<span class="badge badge-secondary">
            		{{ article.document_type }}
            	</span>
            	-->
            </td>
            <td class="table-link">{{ article.title }}</td>
            <!--<td>{{ article.author }}</td>>-->
            <td class="table-link">{{ article.journal|default:"" }}</td>
            <td class="table-link">{{ article.year|default:"" }}</td>
            <td class="table-link" style="text-align: justify;" class="text-muted">{{ article.abstract|default:"" }}</td>
            <!--<td>{{ article.created_by.profile.get_screen_name }}</td>-->
            <!--<td>{{ article.created_at|date:"d M Y H:i:s" }}</td>-->
            <td class="table-link">{{ article.get_status_html|safe }}</td>
            <td width="170px">
              {% include 'conducting/partial_article_evaluation_table_form.html' %}
            </td>
          </tr>
        {% empty %}
          <tr class="no-data">
            <td colspan="9">{% trans 'No articles.' %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
