{% load i18n humanize %}

<div class="row">
  <div class="col-md-12">
    <p>{% trans 'The review authors have made the following evaluations, which have generated conflict between them and must be resolved before proceeding. Since you are the reviewer, you need to <strong>resolve this conflict</strong>.' %}<p>
    <table class="table">
      <thead>
        <tr>
          <th>{% trans 'Author' %}</th>
          <th>{% trans 'Status' %}</th>
          <th>{% trans 'Criteria' %}</th>
          <th>{% trans 'Comments' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for evaluation in article.get_evaluations %}
          <tr>
            <th>{{evaluation.user.username}}</th>
            <td>{{evaluation.get_status_html|safe}}</td>
            <td style="min-width: 150px">{{evaluation.selection_criteria}}</td>
            <td>{{evaluation.comments}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-md-12">
    <p>{% trans 'Choose what status the article should have.' %}<p>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label class="control-label">{% trans 'Status' %}</label>
      <select name="status" id="status" class="form-control">
        {% for status in article.ARTICLE_STATUS %}
          <option value="{{ status.0 }}"{% if article.status == status.0 %} selected{% endif %}>{{ status.1 }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>
