{% load i18n staticfiles is_visitor %}

{% load humanize %}
{% if user|is_visitor:review %}
    <script src="{% static 'js/user_is_visitor.js' %}?v=1"></script>
  {% endif %}
<div class="alert hide" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <span class="modal-alert"></span>
</div>

<form name="article-details" id="article-details" method="post" action=".">
  {% csrf_token %}
  <input type="hidden" name="article-id" id="article-id" value="{{ article.id }}">
  <input type="hidden" name="review-id" id="review-id" value="{{ article.review.id }}">
  <input type="hidden" name="source-id" id="source-id" value="{{ article.source.id }}">

  <div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist" id="article-details-tabs">
      <li role="presentation" class="active" id="tab-list-details">
        <a id="details-tab" href="#tab-details" aria-controls="tab-details" role="tab" data-toggle="tab" aria-selected="true">{% trans 'Details' %}</a>
      </li>
      <li role="presentation" id="tab-list-files">
        <a id="files-tab" href="#tab-files" aria-controls="tab-files" role="tab" data-toggle="tab" aria-selected="false">{% trans 'Attached files' %}</a>
      </li>
   
     
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="tab-details" aria-labelledby="details-tab">
        <div class="form-group">
          <label class="control-label">{% trans 'Title' %}</label>
          <input type="text" class="form-control" name="title" id="title" value="{{ article.title }}">
        </div>
        <div class="form-group">
          <label class="control-label">{% trans 'Abstract' %}</label>
          <textarea name="abstract" id="abstract" rows="5" class="form-control">{{ article.abstract }}</textarea>
        </div>
        <div class="form-group">
          <label class="control-label">{% trans 'Year' %}</label>
          <input type="text" class="form-control" name="year" id="year" value="{{ article.year|default_if_none:'' }}">
        </div>
        <div class="form-group">
          <label class="control-label">{% trans 'Author' %}</label>
          <input type="text" class="form-control" name="author" id="author" value="{{ article.author|default_if_none:'' }}">
        </div>
        <div class="form-group">
          <label class="control-label">{% trans 'BibTex Key' %}</label>
          <input type="hidden" class="form-control" name="bibtex-key" id="bibtex-key" value="{{ article.bibtex_key }}">
        </div>
        <div class="form-group">
          <label class="control-label">{% trans 'Journal' %}</label>
          <input type="text" class="form-control" name="journal" id="journal" value="{{ article.journal|default_if_none:'' }}">
        </div>
      
       

      </div>
      </form>
 
      <div role="tabpanel" class="tab-pane" id="tab-files" aria-labelledby="files-tab">
        {% include 'conducting/partial_article_files.html' %}
      </div>
     
    </div>
  </div>
