{% extends 'reporting/reporting.html' %}

{% load i18n %}

{% load humanize %}

{% block javascript %}
  <script>
    $(function () {
      $(".js-toggle-all").click(function () {
        var group = $(this).closest("[class$='-group']")
        if ($(this).attr("data-checked") === "true") {
          $(this).html("Marcar Todos");
          $(this).attr("data-checked", "false");
          $("input[type='checkbox']", group).prop("checked", false);
        }
        else {
        	$(this).html("Desmarcar Todos");
          	$(this).attr("data-checked", "true");
          	$("input[type='checkbox']", group).prop("checked", true);
        }
      });

      $(".js-export-docx").click(function () {
        $(this).closest("form").submit();
      });
    });
  </script>
{% endblock %}

{% block tab_content %}



  <form method="POST" action="{% url 'reviews:reporting:download_docx' %}">
  	 {% csrf_token %}
    <input type="hidden" name="review-id" value="{{ review.pk }}">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans 'Download a Report' %}</h3>
      </div>
      <div class="panel-body">
        <div class="row review-group">
          <div class="col-sm-12">
            <h4>{% trans 'Review' %} <button type="button" class="btn btn-default btn-sm js-toggle-all" data-checked="true">{% trans 'Toggle all' %}</button></h4>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="checkbox"><label><input type="checkbox" checked name="export" value="name"> {% trans 'Name' %}</label></div>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="checkbox"><label><input type="checkbox" checked name="export" value="authors"> {% trans 'Authors' %}</label></div>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="checkbox"><label><input type="checkbox" checked name="export" value="description"> {% trans 'Description' %}</label></div>
          </div>
        </div>

        <hr>

        <div class="row planning-group">
          <div class="col-sm-12">
            <h4>{% trans 'Planning' %} <button type="button" class="btn btn-default btn-sm js-toggle-all" data-checked="true">{% trans 'Toggle all' %}</button></h4>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="checkbox"><label><input type="checkbox" checked name="export" value="objectives"> {% trans 'Objectives' %}</label></div>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="checkbox">
            	<label>
            		<input type="checkbox" checked name="export" value="picoc">
            		{% trans 'Type Study'%} (
            		{% if review.pico_type == 'PICOC' %}	{% trans 'PICOC' %} {%endif%}
            		{% if review.pico_type == 'PICOS' %}	{% trans 'PICOS' %} {%endif%}
            		{% if review.pico_type == 'Free Text' %}	{% trans 'Free Text' %} {%endif%}
            		)
            	</label>
            </div>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="checkbox"><label><input type="checkbox" checked name="export" value="research_questions"> {% trans 'Research Questions' %}</label></div>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="checkbox"><label><input type="checkbox" checked name="export" value="keywords_synonyms"> {% trans 'Keywords and Synonyms' %}</label></div>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="checkbox"><label><input type="checkbox" checked name="export" value="search_string"> {% trans 'Search String' %}</label></div>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="checkbox"><label><input type="checkbox" checked name="export" value="sources"> {% trans 'Sources' %}</label></div>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="checkbox"><label><input type="checkbox" checked name="export" value="selection_criteria"> {% trans 'Selection Criteria' %}</label></div>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="checkbox"><label><input type="checkbox" checked name="export" value="quality_assessment_checklist"> {% trans 'Quality Assessment Checklist' %}</label></div>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="checkbox"><label><input type="checkbox" checked name="export" value="data_extraction_form"> {% trans 'Data Extraction Form' %}</label></div>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="checkbox"><label><input type="checkbox" checked name="export" value="risks"> {% trans 'Risks To Review Validity' %}</label></div>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="checkbox"><label><input type="checkbox" checked name="export" value="statistics_methods"> {% trans 'Statistical Methods and Conventions' %}</label></div>
          </div>
        </div>

        <hr>

        <div class="row conducting-group">
          <div class="col-sm-12">
            <h4>{% trans 'Conducting' %} <button type="button" class="btn btn-default btn-sm js-toggle-all" data-checked="true">{% trans 'Toggle all' %}</button></h4>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="checkbox"><label><input type="checkbox" checked name="export" value="source_search_strings">{% trans 'Source Search Strings' %}</label></div>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="checkbox"><label><input type="checkbox" checked name="export" value="number_imported_studies"> {% trans 'Number of Imported Studies' %}</label></div>
          </div>
          <div class="col-sm-4 col-md-3">
            <div class="checkbox"><label><input type="checkbox" checked name="export" value="number_study_selection_status"> {% trans 'Study Selection' %}</label></div>
          </div>
         
          <div class="col-sm-4 col-md-3">
            <div class="checkbox"><label><input type="checkbox" checked name="export" value="quality_assessment"> {% trans 'Quality Assessment' %}</label></div>
          </div>
          
          <div class="col-sm-4 col-md-3">
            <div class="checkbox"><label><input type="checkbox" checked name="export" value="data_extraction"> {% trans 'Data Extraction' %}</label></div>
          </div>
         
          <div class="col-sm-4 col-md-3">
            <div class="checkbox"><label><input type="checkbox" checked name="export" value="data_analysis"> {% trans 'Data Analysis' %}</label></div>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <div class="btn-group">
          <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-cloud-download"></span> {% trans 'Download' %} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="javascript:void(0);" class="js-export-docx"><em>.docx({% trans 'Summary'%})</em></a></li>
            <li><a href="javascript:void(0);" class="js-export-docx-complete"><em>.docx({% trans 'Complete'%})</em></a></li>
          </ul>
        </div>
      </div>
    </div>
  </form>

{% endblock %}
