{% load i18n %}

{% load humanize %}

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
            	<div class="row">
                	© {% trans 'Parsifal' %}
                </div>
                
            </div>
            <div class="col-sm-6 text-right">    
            	
        		<a href="http://ufal.edu.br" target="_blank" data-toggle="tooltip" title="UFAL" data-placement="top">
        			<img src="/static/img/ufal.png" alt="UFAL" class="img-logo">
        		</a>
        		<a href="http://www.ufal.edu.br/unidadeacademica/ic/pesquisa/grupos-e-nucleos/nees" target="_blank" data-toggle="tooltip" title="NEES" data-placement="top">
        			<img src="/static/img/nees.png" alt="NEES" class="img-logo">
        		</a>
 
            </div>
        </div>
    </div>
</footer>
