{% extends 'base.html' %}

{% load i18n staticfiles humanize is_visitor %}

{% load i18n %}

{% load humanize %}


{% block javascript %}
  
 	<script src="{% static 'js/review_import.js' %}?_=1"></script>
	<script>
	    $(function () {
	      $("#id_title").focus();
	      
	      $("#id_description").keyup(function() {
	    	   
	    	  
	    	  var max_length = $(this).attr('maxLength');
	    	  var current_size = $(this).val().length;
	    	  var diff = max_length - current_size;
	    	  $("#current_size").text('('+diff +')');
	      });
	    });
	</script>
  

{% endblock %}

{% block content %}
  <h2 class="page-header">{% trans 'Create a new review' %}</h2>
  <form method="post">
    {% csrf_token %}
    {% include 'form_vertical.html' with form=form %}
    <div id="current_size" class="text-muted" style="margin: -10px 0px 10px 0px;"></div>
    <div class="form-group">
    	<input type="hidden" id="review-id" name="review-id" value="0" />
      	<button type="submit" class="btn btn-success">{% trans 'Create review' %}</button>
      	<a href="{% url 'reviews' user.username %}" class="btn btn-default">{% trans 'Cancel' %}</a>
    	
    	
    </div>
  </form>
{% endblock content %}