{% extends 'base.html' %}

{% load i18n %}

{% load humanize %}

{% block javascript %}
  <script>
    $(function () {
      $("#id_title").focus();
    });
  </script>
{% endblock %}

{% block content %}
  <h2 class="page-header">{% trans 'Create a new review' %}</h2>
  <form method="post">
    {% csrf_token %}
    {% include 'form_vertical.html' with form=form %}
    <div class="form-group">
      <button type="submit" class="btn btn-success">{% trans 'Create review' %}</button>
      <a href="{% url 'reviews' user.username %}" class="btn btn-default">{% trans 'Cancel' %}</a>
    </div>
  </form>
{% endblock content %}