{% extends 'base.html' %}
{% load i18n staticfiles humanize is_visitor %}

{% block title %}{{ review.title }}{% endblock %}

{% block javascript %}
  <script>
  var contacts = [
    {% for contact in user.profile.get_following %}
      {
        pk: '{{ contact.pk }}',
        email: '{{ contact.email }}',
        name: '{{ contact.profile.get_screen_name }}'
      }{% if not forloop.last %}, {% endif %}
    {% endfor %}
  ];
  </script>
  <script src="{% static 'js/review.js' %}?_=1"></script>
  <script src="{% static 'js/review_import.js' %}?_=1"></script>
  <script src="{% static 'js/review_tag.js' %}?v=1"></script>
  {% if user|is_visitor:review %}
    <script src="{% static 'js/user_is_visitor.js' %}?v=1"></script>
  {% endif %}
{% endblock %}

{% block content %}

  {% include "reviews/review_header.html" with active_menu="review" %}
  
  
  <div class="row">
    <div class="col-sm-7 col-md-8 col-lg-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans 'Review details' %}</h3>
        </div>
        <div class="panel-body">
          <form method="post" id="review-form">
            {% csrf_token %}
            {% include 'form_vertical.html' with form=form %}
          </form>
          <form method="post" id="tag-form">
            {% csrf_token %}
            {% include 'reviews/review_tag.html' %}
          </form>
        </div>
        <div class="panel-footer">
        	<button type="submit" class="btn btn-success" form="review-form">
            	<span class="glyphicon glyphicon-ok"></span>
            	{% trans 'Save' %}
          	</button>

         	<button type="button" class="btn btn-success pull-right" id="btn-open-import-protocol" data-toggle="modal" data-target="#modal-published-protocols">
            	<span class="glyphicon glyphicon-import"></span>
               	{% trans 'Import Protocol' %}
         	</button>
        </div>
      </div>
    </div>

    <div class="col-sm-5 col-md-4 col-lg-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans 'Authors' %}</h3>
        </div>
        <ul class="list-group authors" data-remove-url="{% url 'reviews:remove_author_from_review' %}">
          <li class="list-group-item" author-id="{{ review.author.id }}">
            <a href="/{{ review.author.username }}/">
              {{ review.author.profile.get_screen_name }}
            </a>
            <span class="badge">{% trans 'main author' %}</span>
          </li>
          {% for author in review.co_authors.all %}
            <li  class="list-group-item" data-user-id="{{ author.id }}">
              <a href="{% url 'reviews' author.username %}">{{ author.profile.get_screen_name }}</a>
              {% if user.id == review.author.id %}
                <a href="javascript:void(0);" class="js-remove-author text-danger pull-right">
                  <span class="glyphicon glyphicon-remove"></span>
                </a>
              {% elif user.id == author.id %}
                <form method="post" action="{% url 'reviews:leave' %}" style="display: inline">
                  {% csrf_token %}
                  <input type="hidden" name="review-id" value="{{ review.id }}">
                  <a href="javascript:void(0);" class="js-leave text-danger pull-right">{% trans '(leave)' %}</a>
                </form>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
        {% if user.id == review.author.id %}
          <div class="panel-footer">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add-author-modal">
              <span class="glyphicon glyphicon-plus"></span>
              {% trans 'Add author' %}
            </button>
            <form method="post" action="{% url 'reviews:add_author_to_review' %}">
              {% csrf_token %}
              <input type="hidden" name="review-id" value="{{ review.pk }}">
              <div class="modal fade" id="add-author-modal">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title">{% trans 'Add author' %}</h4>
                    </div>
                    <div class="modal-body">
                      <div class="alert alert-info">
                        {% trans "You may add someone that doesn't have a account. Just type his email adress and we will send an invitation. :)" %}
                      </div>
                      <div class="form-group">
                        <label for="users" class="control-label">{% trans 'Contacts' %}</label>
                        <select id="users" name="users" class="contacts" placeholder="{% trans 'Pick an author or invite someone...' %}"></select>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
                      <button type="submit" class="btn btn-success">{% trans 'Send invitation' %}</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>

        {% endif %}
      </div>

      <div class="panel panel-default">
      	<div class="panel-heading">
      		<h3 class="panel-title">{% trans 'Visitors' %}</h3>
      	</div>

      	 <ul class="list-group visitors" data-remove-url="{% url 'reviews:remove_visitor_from_review' %}">
      	 	{% for visitor in review.visitors.all %}
            <li class="list-group-item" data-user-id="{{ visitor.id }}">
              <a href="{% url 'reviews' visitor.username %}">{{ visitor.profile.get_screen_name }}</a>
              {% if user.id == review.author.id %}
                <a href="javascript:void(0);" class="js-remove-visitor text-danger pull-right">
                  <span class="glyphicon glyphicon-remove"></span>
                </a>
              {% endif %}
            </li>
          	{% endfor %}
      	 </ul>

        <div class="panel-footer">
           <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add-visitor-modal">
             <span class="glyphicon glyphicon-plus"></span>
             {% trans 'Add visitor' %}
           </button>
           <form method="post" action="{% url 'reviews:add_visitor_to_review' %}">
             {% csrf_token %}
             <input type="hidden" name="review-id" value="{{ review.pk }}">
             <div class="modal fade" id="add-visitor-modal">
               <div class="modal-dialog">
                 <div class="modal-content">
                   <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                     <h4 class="modal-title">{% trans 'Add visitor' %}</h4>
                   </div>
                   <div class="modal-body">
                     <div class="alert alert-info">
                       {% trans "You may add someone that doesn't have a account. Just type his email adress and we will send an invitation." %}
                     </div>
                     <div class="form-group">
                       <label for="visitors" class="control-label">{% trans 'Contacts' %}</label>
                       <select id="visitors" name="visitors" class="contacts" placeholder="{% trans 'Invite someone...' %}"></select>
                     </div>
                   </div>
                   <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
                     <button type="submit" class="btn btn-success">{% trans 'Send invitation' %}</button>
                   </div>
                 </div>
               </div>
             </div>
        	</form>
        </div>
      </div>
    </div>
  </div>

	<section id="sources-section">
		{% include 'reviews/partial_modal_list_import_protocol.html' %}
	
	  	{% include 'reviews/partial_modal_confirm_import_protocol.html' %}
	</section>

{% endblock content %}
