{% extends 'base.html' %}
{% load i18n staticfiles humanize is_visitor %}

{% block title %}{{ review.title }}{% endblock %}

{% block javascript %}
  <script>
  var contacts = [
    {% for contact in user.profile.get_following %}
      {
        pk: '{{ contact.pk }}',
        email: '{{ contact.email }}',
        name: '{{ contact.profile.get_screen_name }}'
      }{% if not forloop.last %}, {% endif %}
    {% endfor %}
  ];
  </script>
  <script src="{% static 'js/review.js' %}?_=1"></script>
  <script src="{% static 'js/review_tag.js' %}?v=1"></script>
  {% if user|is_visitor:review %}
    <script src="{% static 'js/user_is_visitor.js' %}?v=1"></script>
  {% endif %}
{% endblock %}

{% block content %}

  {% include "reviews/review_header.html" with active_menu="review" %}
  <div class="row">
    <div class="col-sm-7 col-md-8 col-lg-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans 'Review details' %}</h3>
        </div>
        <div class="panel-body">
          <form method="post" id="review-form">
            {% csrf_token %}
            {% include 'form_vertical.html' with form=form %}
          </form>
          <form method="post" id="tag-form">
            {% csrf_token %}
            {% include 'reviews/review_tag.html' %}
          </form>
        </div>
        <div class="panel-footer">
        	<button type="submit" class="btn btn-success" form="review-form">
            	<span class="glyphicon glyphicon-ok"></span>
            	{% trans 'Save' %}
          	</button>

         	<button type="button" class="btn btn-primary pull-right" id="btn-open-import-protocol" data-toggle="modal" data-target="#modal-published-protocols">
            	<span class="glyphicon glyphicon-import"></span>
               	{% trans 'Import Protocol' %}
         	</button>
        </div>
      </div>
    </div>

    <div class="col-sm-5 col-md-4 col-lg-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans 'Authors' %}</h3>
        </div>
        <ul class="list-group authors" data-remove-url="{% url 'reviews:remove_author_from_review' %}">
          <li class="list-group-item" author-id="{{ review.author.id }}">
            <a href="/{{ review.author.username }}/">
              {{ review.author.profile.get_screen_name }}
            </a>
            <span class="badge">{% trans 'main author' %}</span>
          </li>
          {% for author in review.co_authors.all %}
            <li  class="list-group-item" data-user-id="{{ author.id }}">
              <a href="{% url 'reviews' author.username %}">{{ author.profile.get_screen_name }}</a>
              {% if user.id == review.author.id %}
                <a href="javascript:void(0);" class="js-remove-author text-danger pull-right">
                  <span class="glyphicon glyphicon-remove"></span>
                </a>
              {% elif user.id == author.id %}
                <form method="post" action="{% url 'reviews:leave' %}" style="display: inline">
                  {% csrf_token %}
                  <input type="hidden" name="review-id" value="{{ review.id }}">
                  <a href="javascript:void(0);" class="js-leave text-danger pull-right">{% trans '(leave)' %}</a>
                </form>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
        {% if user.id == review.author.id %}
          <div class="panel-footer">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-author-modal">
              <span class="glyphicon glyphicon-plus"></span>
              {% trans 'Add author' %}
            </button>
            <form method="post" action="{% url 'reviews:add_author_to_review' %}">
              {% csrf_token %}
              <input type="hidden" name="review-id" value="{{ review.pk }}">
              <div class="modal fade" id="add-author-modal">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title">{% trans 'Add author' %}</h4>
                    </div>
                    <div class="modal-body">
                      <div class="alert alert-info">
                        {% trans "You may add someone that doesn't have a Parsifal Account. Just type his email adress and we will send an invitation. :)" %}
                      </div>
                      <div class="form-group">
                        <label for="users" class="control-label">{% trans 'Contacts' %}</label>
                        <select id="users" name="users" class="contacts" placeholder="{% trans 'Pick an author or invite someone...' %}"></select>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
                      <button type="submit" class="btn btn-success">{% trans 'Send invitation' %}</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>

        {% endif %}
      </div>

      <div class="panel panel-default">
      	<div class="panel-heading">
      		<h3 class="panel-title">{% trans 'Visitors' %}</h3>
      	</div>

      	 <ul class="list-group visitors">
      	 	{% for visitor in review.visitors.all %}
            <li  class="list-group-item" data-user-id="{{ visitor.id }}">
              <a href="{% url 'reviews' visitor.username %}">{{ visitor.profile.get_screen_name }}</a>
            </li>
          	{% endfor %}
      	 </ul>

        <div class="panel-footer">
           <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-visitor-modal">
             <span class="glyphicon glyphicon-plus"></span>
             {% trans 'Add visitor' %}
           </button>
           <form method="post" action="{% url 'reviews:add_visitor_to_review' %}">
             {% csrf_token %}
             <input type="hidden" name="review-id" value="{{ review.pk }}">
             <div class="modal fade" id="add-visitor-modal">
               <div class="modal-dialog">
                 <div class="modal-content">
                   <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                     <h4 class="modal-title">{% trans 'Add visitor' %}</h4>
                   </div>
                   <div class="modal-body">
                     <div class="alert alert-info">
                       {% trans "You may add someone that doesn't have a Parsifal Account. Just type his email adress and we will send an invitation." %}
                     </div>
                     <div class="form-group">
                       <label for="visitors" class="control-label">{% trans 'Contacts' %}</label>
                       <select id="visitors" name="visitors" class="contacts" placeholder="{% trans 'Invite someone...' %}"></select>
                     </div>
                   </div>
                   <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
                     <button type="submit" class="btn btn-success">{% trans 'Send invitation' %}</button>
                   </div>
                 </div>
               </div>
             </div>
        	</form>
        </div>
      </div>
    </div>
  </div>

	<section id="sources-section">
	    <div class="modal fade" id="modal-published-protocols">
	      <div class="modal-dialog">
	        <div class="modal-content">
	          <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	            <h4 class="modal-title">{% trans 'Import Published Protocols' %}</h4>
	          </div>
	          <div class="modal-body">
	          	 <p style="margin-bottom: 20px;">{% trans 'Below you see the reviews that exported your protocol, choose one to import the protocol for your review' %}</p>
	             {% csrf_token %}
	             <input type="hidden" name="review-id" value="{{ review.id }}">
	             <table class="table" id="tbl-import-protocols">
	               <thead>
		               	<tr>
		               		<th width="50%">{% trans 'Review' %}</th>
		               		<th width="30%">{% trans 'Author' %}</th>
		               		<th></th>
		               		<th></th>
		               	</tr>
	             	</thead>
	               <tbody></tbody>
	             </table>
	          </div><!-- end modal-body-->
	        </div><!-- end modal-content-->
	      </div><!-- end modal-dialog-->
	    </div> <!-- end modal import -->


	<div class="modal fade" id="modal-confirm-import">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">{% trans 'Confirm Import ' %} <b><span id="label_protocol_import1"></span>?</b></h4>
				</div>
				<div class="modal-body">
					<p style="margin-bottom: 20px;">{% trans 'Are you sure you want to import these sections of protocol ' %} <b><span id="label_protocol_import2"></span></b>?</p>
					<p style="margin-bottom: 20px;" class="text-muted">{% trans 'The selected sections will be populated by information from the selected protocol. All information already filled in will be overwritten.' %}</p>
					
					
					<div class="btn-group btn-sections-protocol-import" data-toggle="buttons">
						<label class="btn btn-default active" >
							<input type="checkbox" autocomplete="off" checked="checked" value="1" id="check_protocol_details"/>
							<span class="glyphicon glyphicon-ok"></span>
							{% trans 'Details'%}
						</label>
						<label class="btn btn-default active" >
							<input type="checkbox" autocomplete="off" checked="checked" value="1" id="check_protocol_protocol"/>
							<span class="glyphicon glyphicon-ok"></span>
							{% trans 'Protocol' %}
						</label>
						<label class="btn btn-default active" >
							<input type="checkbox" autocomplete="off" checked="checked" value="1" id="check_protocol_checklist"/>
							<span class="glyphicon glyphicon-ok"></span>
							{% trans 'Checklist' %}
						</label>
						<label class="btn btn-default active" >
							<input type="checkbox" autocomplete="off" checked="checked" value="1" id="check_protocol_risks"/>
							<span class="glyphicon glyphicon-ok"></span>
							{% trans 'Risks' %}
						</label>
						<label class="btn btn-default active" >
							<input type="checkbox" autocomplete="off" checked="checked" value="1" id="check_protocol_data_extraction"/>
							<span class="glyphicon glyphicon-ok"></span>
							{% trans 'Data Extraction' %}
						</label>
					</div>
					
					<div class="checkbox">
						<label> 
							<input type="checkbox" id="enable-confirm-import">{% trans 'I understand the consequences.' %}
						</label>
					</div>
					<input type="hidden" name="review-import-id"">
				</div><!-- end modal-body-->
				<div class="modal-footer">
					<button type="submit" id="btn-confirm-import-protocol" class="btn btn-danger btn-block" disabled>{% trans 'Import protocol for your review' %}</button>
				</div>
			</div><!-- end modal-content-->
		</div><!-- end modal-dialog-->
	</div><!-- end modal import -->
</section>

{% endblock content %}
