{% load i18n is_visitor %}

{% load humanize %}
<h3 class="review-title">
  {% if user == review.author %}
    <a href="{% url 'settings' review.author.username review.name %}" class="btn btn-success pull-right"><span class="glyphicon glyphicon-cog"></span> {% trans 'Review settings' %}</a>
  {% endif %}
  <a href="{{ review.author.get_absolute_url }}" class="review-title-user">{{ review.author.profile.get_screen_name }}</a>
  <span class="text-muted">/</span>
  <a href="{{ review.get_absolute_url }}">{{ review.title }}</a>
</h3>
<ul class="review-menu">
  <li{% if active_menu == "review"%} class="active"{% endif %}>
    <a href="{{ review.get_absolute_url }}">{% trans 'Review' %}</a>
  </li>
  <li{% if active_menu == "planning"%} class="active"{% endif %}>
    <a href="{% url 'planning' review.author.username review.name %}">{% trans 'Planning' %}</a>
  </li>
  <li{% if active_menu == "conducting"%} class="active"{% endif %}>
    <a href="{% url 'conducting' review.author.username review.name %}">{% trans 'Conducting' %}</a>
  </li>
  <li{% if active_menu == "metaanalysis"%} class="active"{% endif %}>
    <a href="{% url 'metaanalysis' review.author.username review.name %}">{% trans 'Meta Analysis' %}</a>
  </li>
  <li{% if active_menu == "reporting"%} class="active"{% endif %}>
    <a href="{% url 'reporting' review.author.username review.name %}">{% trans 'Reporting' %}</a>
  </li>
  <li{% if active_menu == "comments"%} class="active"{% endif %}>
    <a href="{% url 'comments' review.author.username review.name %}">{% trans 'Comments' %} {% if unseen_comments.count > 0 %}<span class="badge {% if active_menu == 'comments' %} label-default {% endif %}">{{unseen_comments.count}}</span> {% endif %}</a>
  </li>
</ul>
<input type="hidden" id="review-id" value="{{ review.id }}">
