body{
	background: #ecf1f6;
   
}

a{
	color: #333;
}

a:hover{
	color: #111;
	text-decoration: underline;
}


header .navbar2{
	background-image: linear-gradient(black, #001a35, #001F3F );
	border-bottom: none;
	color: white;
}

#group-buttons-sign a{
	color:white !important;
	opacity: 1 !important; 
}

.header-home{
	background-color: #233744;
    color: #ffffff;
    padding: 10px 0;
}

.img-avatar {
    border-radius: 50%;
    width: 110px;
    border: solid 3px #72bda3;
}

.profile-data {
    padding: 20px 0;
}

.profile-data  a{
	color: white;
}


.follows:first-child {
    margin-right: 10px;
}
.follows {
    display: inline-block;
}


.btn-new {
    border-radius: 20px;
    border: 0;
    padding-right: 20px;
    padding-left: 20px;
    color:white;
    
}


h1 {
    font-weight: 300;
    text-transform: uppercase;
}

.btn.icon-text {
    padding-left: 15px;
}

.btn.icon-text .glyphicon {
    margin-right: 5px;
}

footer {
    padding: 10px 0;
   	background: linear-gradient(black, #233744, #233744 );
   	background-image: linear-gradient(#001F3F, #001a35, ,black );
    color: white;

}

img.img-logo{
	width: 12%;
	opacity: 0.85;
}

img.img-logo:hover{
	opacity: 1;
}


/****************************8*/

.intro-content {
    width: 1140px;
    margin: auto;
    padding: 80px 0;
    box-sizing: border-box;
}

.intro-logos {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 30px 0;
    border-width: 1px 0;
    border-style: solid;
    border-color: #e0e0e0;
    box-sizing: border-box;
}

.intro-logos .item:first-child {
    width: 22%;
    border-left: none;
}

.intro-logos .item {
    width: 20%;
    height: 100px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
}

.intro-logos .item img {
    height: 100%;
}

.explorer-results{
	margin-top: 30px;
}

#painel-myreview > div{
	padding: 15px 35px;
}

.outline{
	background: transparent;
}

.btn-success{
	
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	color: #ffffff;
    background-color: #00a65a;
    border-color: #008d4c;
    border: 1px solid #72bda3;
    border-radius: 6px 6px 0 0;
}
.panel-default>.panel-heading {
	
	
}

.source-tab-content, .quality-container{
	background: white;
    padding: 10px;
    border-radius: 15px;
}
#planning-tab, #conducting-tab, #data-extraction-menu, #source-tab, #quality-menu{
	background-color: #f5f5f5;
    border-color: #ddd;
}

nav-tabs > li:hover{
	background-color:#72bda3;
    border-color: #ddd;
}

span.label{
	padding: 5px;
    font-size: 0.9em;
}

input[type=checkbox], input[type=radio]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 10px;
}

nav li:hover {
  background-color: #a9a9a9;
}
.nav-pills>li.active>a{
	background: #00a65a;
	border-top-color: #00a65a;
}
.nav-pills>li.active>a:hover{
	background: #4e9a06;
	border-top-color: #00a65a;
}
