body{
	background: #f4f4ff;
	/*display: flex;*/
    flex-direction: column;
    min-height: 100%;

}

a{
	color: #333;
}

h3{
	font-size: 18px !important;
}

h3.panel-title{
	font-size: 18px !important;
}

a:hover{
	color: #333;
	text-decoration: none;
}


header .navbar-inverse {
	background-color: #10ab64;
	border: none;
	color: #fff;
}

#group-buttons-sign a{
	color:white !important;
	opacity: 1 !important;
}

.header-home{
    padding: 10px 0;
}

.img-avatar {
    border-radius: 50%;
    width: 110px;
    border: solid 3px #72bda3;
}

.img-avatar2 {
    border-radius: 50%;
    width: 30px;
    /*border: solid 1.5px #72bda3;*/
}

.profile-data {
    padding: 20px 0;
}

.profile-data  a{
	color: white;
}


.follows:first-child {
    margin-right: 5px;
}
.follows {
    display: inline-block;
}


.btn-new {
    border-radius: 20px;
    border: 0;
    padding-right: 20px;
    padding-left: 20px;
    color:white;

}


h1 {
    font-weight: 300;
    text-transform: uppercase;
}

.btn.icon-text {
    padding-left: 15px;
}

.btn.icon-text .glyphicon {
    margin-right: 5px;
}

footer {
    padding: 10px 0;
   	background-color: #10ab64;
    color: white;

}

img.img-logo{
	width: 12%;
	opacity: 0.85;
}

img.img-logo:hover{
	opacity: 1;
}


/****************************8*/

.intro-content {
    width: 1140px;
    margin: auto;
    padding: 80px 0;
    box-sizing: border-box;
}

.intro-logos {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 30px 0;
    border-width: 1px 0;
    border-style: solid;
    border-color: #e0e0e0;
    box-sizing: border-box;
}

.intro-logos .item:first-child {
    width: 22%;
    border-left: none;
}

.intro-logos .item {
    width: 20%;
    height: 100px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
}

.intro-logos .item img {
    height: 100%;
}

.explorer-results{
	margin-top: 30px;
}

#painel-myreview > div{
	padding: 15px 35px;
}

.outline{
	background: transparent;
}

.btn-success{

}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	font-weight: bold;
    background-color: #10ab64;
    border-color: #008d4c;
    border: 1px solid #72bda3;
    border-radius: 6px 6px 0 0;
    color:white;
}
.panel-default>.panel-heading {


}

.panel>.has-help{
	overflow: hidden;
	min-height: 50px;
}

.big-glyphicon{
	font-size: 1.5em;
}

.source-tab-content, .quality-container{
	background: white;
    padding: 10px;
    border-radius: 15px;
}
#planning-tab, #conducting-tab, #data-extraction-menu, #source-tab, #quality-menu{
	background-color: #f5f5f5;
    border-color: #ddd;
}

.nav>li>a:hover{
	/* background: #babdb6; */
}

nav-tabs > li:hover{
	background-color:#72bda3;
    border-color: #ddd;
}

span.label{
	padding: 5px;
    font-size: 1.0em;
}

input[type=checkbox], input[type=radio]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 10px;
}

nav li:hover {
  /*background-color: #a9a9a9;*/
}
.nav-pills>li.active>a{
	background: #10ab64;
	border-top-color: #10ab64;
	color: white;
	border-left-color: #10ab64;
}
.nav-pills>li.active>a:hover{
	background: #10ab64;
	border-top-color: #10ab64;
	border-left-color: #10ab64;
	color: white;
}

div.data-extraction-panel  span.badge{
	margin: 0px 5px;
}


.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #10ab64;
    border-color: #10ab64;
}

.alert-warning{
	background-color: #38b87d !important;
    border-color: #57c191 !important;
    color: white !important;
}

.modal-title{
	font-weight: bold; 
}
